[2014-03-30 12:45] ethanwhite opened #5 "Retriever installers need to setup paths for CLI"
At the moment the retriever's installers for Windows and (I'm fairly sure) Mac don't automatically add the retriever to the path (source installs handle this properly). For this package to work seamlessly this needs to be addressed. This issue is just a flag to remind us that https://github.com/weecology/retriever/issues/174 needs to be handled before we finish this.

[2014-03-30 12:47] ethanwhite opened #6 "Is the minimum R version really 3.0.2?"
In my experience most scientists are running out of date versions of their software, so it's worth making sure that we really need a version as new as 3.0.2 since a lot of folks won't have it yet. This seems like a pretty basic package so I'm guessing that it probably works on early versions as well.

[2014-03-31 02:58] dmcglinn opened #7 "How to securely provide password for mysql/postgres servers?"
The current approach taken with the function `install_data` is simply to input the password as one of the arguments. However, this is not a secure approach to password transfer. With this approach the password could be accidently stored in the .Rhistory file. which would make the user's account vulnerable.

There is some discussion of this issue here:
http://stackoverflow.com/questions/2917202/r-w

[2014-04-15 13:50] ethanwhite opened #9 "Allow users to load data straight into R"
This is something that's been on my list for Python for a while and would be particularly valuable in R. Basically,

[code]

should install the dataset into either csv or sqlite and then automatically load it into a data frame. And yes, the function should _definitely_ be called `fetch`.

[2014-04-15 18:47] sckott opened #10 "system() calls in RStudio can't find the retriever command"
When in RStudio I load up `ecoretriever`, then attempt a function and I get an error that the command `retriever` can't be found.

[code]

I get

[code]

But in R started from the cli it all works fine. So somehow R started from terminal is finding the right path to the `retriever` command, but RStudio is not.

I noticed this issue on RStudio help site https://support.rstudio.com/hc/communities/pu

[2014-04-15 21:31] cboettig opened #11 "SystemRequirements line in Description"
In the DESCRIPTION file you'll want to add the line:

[code]

with the appropriate version restriction if necessary to indicate that the package depends on this software being installed.

[2014-04-17 20:39] dmcglinn opened #13 "How to avoid namespace conflicts"
@ethanwhite has requested that we change our namespace to be more in line with the retriever functions #9. One problem with using short definitive function names is that conflicts appear with functions defined in standard R libraries. As @ethanwhite and @gavinsimpson point out we can ensure that the ecoretiever's version of the function is called by using `ecoretriever::function_name` but a proble

[2014-05-07 19:08] #13 closed, assigned to nobody

[2014-05-07 19:10] #11 closed, assigned to nobody

[2014-05-07 19:11] #9 closed, assigned to nobody

[2014-05-07 19:11] #7 closed, assigned to nobody

[2014-05-07 19:14] #6 closed, assigned to nobody

[2014-05-09 16:51] dmcglinn opened #17 "GitHub deteced repo language is Repol?"
It seems that GitHub has not properly identified that this repo is in the R programming language. See this screen-capture from the ROpenSci repo list page:

![github_screen_capture](https://cloud.githubusercontent.com/assets/1190381/2930707/e1f1d4c4-d799-11e3-9ea5-e30175f27dc3.PNG)

Consequently code highlighting is not working properly on the R scripts for this repo.

[2014-05-29 13:36] sckott opened #18 "License format"
The R way of doing things is weird, but they want the `LICENSE` file to just have

[code]

instead of the full text of the license.

And the `DESCRIPTION`  file to have a line: `License: MIT + file LICENSE`

[2014-07-03 22:34] #10 closed, assigned to nobody

[2014-08-02 18:48] #18 closed, assigned to nobody

[2014-09-05 17:26] #17 closed, assigned to nobody

[2014-09-05 18:05] dmcglinn opened #21 "Setting path on Windows machine"
On line In the file `README.md` we instruct Windows users to temporarily add retriever to their path with the following bit of R code

[code]

On a 64-bit machine running Windows 7 this failed to work because the proper retriever path is actually `C:\\Program Files (x86)\\EcoDataRetriever` because retriever is a 32-bit application.

Will this generally also occur across other versions of Windows?

[2014-09-05 18:10] #21 closed, assigned to nobody

[2014-09-05 19:21] dmcglinn opened #23 "downloading updated scripts is slow"
Every time the package is installed or loaded the Retriever's scripts are downloaded automatically and updated. This seemed like a good idea at first but I find that I am constantly waiting for this to finish up. I assume other users will find this annoying as well. Is there a better way that we can ensure that users are using the most up-to-date scripts but not over burdening them with download w

[2014-09-07 18:39] #5 closed, assigned to nobody

[2014-09-07 19:12] #23 closed, assigned to nobody

[2014-09-09 18:55] dmcglinn opened #28 "CRAN submission questions"
The package is currently passing all the major CRAN checks on a machine that also has the `retriever` installed; however, it would not pass the CRAN tests if the `retriever` was not installed because on package load a `retriever` command is executed: `retriever update` which updates the `retriever` scripts.

If CRAN ultimately where we feel like we want to distribution our package we'll need to co

[2014-09-10 01:55] ethanwhite opened #29 "Add a check and clear error if Retriever not installed"
If the Retriever isn't installed the users should see an informative error message that provides them with instructions on the where/how of installing the Retriever.

This would also provide a runable test for CRAN.

[2014-09-15 03:03] #29 closed, assigned to nobody

[2014-09-16 01:05] dmcglinn opened #32 "Potential Windows incompatibility due to system() command"
On package install

`system('retriever update')`

fails with the following error message

[code]

I am not sure yet if this bug generally applies to Windows or is cropping up because of a particular system configuration. The `ecoretriever` package is failing on a Windows 7, 64-bit install running R v3.1.1 64 bit due to the fact that the function `system` which is used to execute `retriever` comman

[2014-09-24 18:07] #28 closed, assigned to nobody

[2014-09-24 18:15] dmcglinn opened #36 "Last call for comments before first release"
Hey folks, Ethan and I would like to thank you all for your amazing help getting us this package up and running. At this time we wanted to give folks the opportunity to make any remaining comments about package structure or operation before attempting to submit the package to CRAN. Pending any changes required to get it accepted to changes we'll then carry out a release on GitHub as well.

cc: @ka

[2014-09-24 20:51] sckott opened #38 "Make distinction between datasets and groups more clear"
not to delay to CRAN, but I wonder if this could be made more cleer

[code]

It does help that groups are in all caps and datasets just 1st letter in caps, but they run together, and I wonder if people will miss the fact that e.g., `BIRDS` is not a dataset. ??

[2014-09-24 20:52] sckott opened #39 "warnings on read.table"
I get

[code]

[code]

The object seems fine, except there are a bunch of empty tables (), but I assume they're supposed to be empty.

[code]

I wonder if might make more sense to return something like `NULL` or `NA` instead of a `data.frame` with column headings and no rows of data, eg.

[code]

[2014-09-24 22:46] #38 closed, assigned to nobody

[2014-09-24 23:01] dmcglinn opened #40 "Function datasets() should return an R object rather than just print to screen"
This could possibly be accomplished with `system(..., intern=TRUE)` per @sckott and @cboettig comments on #38

[2014-09-25 14:38] #39 closed, assigned to nobody

[2014-09-27 12:29] #36 closed, assigned to nobody

[2014-09-27 12:36] dmcglinn opened #41 "Brian Ripley comments"
1) "The ecoretriver' [sic] what?  As this is a package named that, this is likely redundant."
2) "Sentences end with a period!"
3) "You have not explained EcoData Retriever, nor given a reference (e.g. a URL) for it."

2 and 3 are easy to fix but I'm not sure what to say about his comment 1 other than we have good reasons for naming it ecoretriever.

[2014-09-28 00:19] #41 closed, assigned to nobody

[2014-11-19 01:53] willgearty opened #43 "Install datasets to working directory"
For some reason, instead of the datasets installing in my working directory, they are installing in a separate directory:

Am I missing part of the command?
I'm following the instructions as on the front github page:

Thanks,
Will

[2014-11-19 03:54] #43 closed, assigned to nobody

[2014-11-19 04:01] dmcglinn opened #44 "On Windows have install specify current directory for download"
The `retriever` by default downloads datasets to the desktop on a Windows OS (see #43). Therefore, the default behavior of the function `install()` needs to updated so that the current working directory is used unless another directory is specified.

[2015-04-26 13:27] ethanwhite commented on #44
Fixed in https://github.com/weecology/retriever/commit/5267d2651e3ef290cc33e3d51c10d683ae2c70eb

[2015-04-26 13:27] #44 closed

[2015-04-26 13:30] ethanwhite commented on #32
Are you still having issues with this @dmcglinn?

[2015-04-26 20:04] dmcglinn commented on #32
It's working now. I think it was having trouble because `system` was trying to access retriever.exe from the `./Anaconda/scripts/` path. Uninstalling anaconda and then reinstalling the retriever fixed the problem. I think this can be closed.

[2015-04-26 22:33] ethanwhite commented on #32
Thanks.

[2015-05-05 13:00] dmcglinn commented on #40
this is resolved in #48

[2015-05-05 13:00] #40 closed

[2015-05-05 17:26] davharris opened #49 "problem with .onLoad in RStudio?"
I just filed [a bug report with Rstudio](https://support.rstudio.com/hc/communities/public/questions/203904787-Unexpected-exception-value-type-is-5-not-0) about this, but I thought it made sense to cross-post.

*Apparently*, RStudio is using .onLoad when I open certain scripts or projects that use this package.  And when `retriever update` is finished, it doesn't know what to do with the package o

[2015-05-05 17:40] dmcglinn commented on #49
I just posted to the Rstudio thread that I wasn't able to reproduce this behavior in windows. If you are correct about why your system is crashing then it should be due to this line of code `system('retriever update', ignore.stdout=FALSE, ignore.stderr=TRUE)`. Run that and see if it causes the same pattern of behavior in Rstudio. There is no need to have `ecoretriever` loaded to run this bit of co

[2015-05-05 19:20] kevinushey commented on #49
This failure is now worked around in RStudio, but you should understand the cause.

RStudio attempts to provide completions for packages discovered in source documents (even without loading them directly in the current R session), by essentially doing the following:

1. Starting a new R process,
2. Loading the package (attempting to suppress as much output as possible),
3. Passing back a JSON-enco

[2015-05-05 19:37] dmcglinn commented on #49
Thanks @kevinushey for the very helpful insight. @ethanwhite any thoughts on this? How would you feel about turning off the update scripts on package load feature? Additionally I should be able to change how the script updating information is printed to screen so that it is less prone to interference with other processes.

[2015-05-05 20:49] ethanwhite commented on #49
I agree that we should turn off the update scripts on loading the package and replace this with clear documentation. I like @kevinushey's suggestion of including those instructions in the package startup message.

Not being an R person I don't know what "don't write to stdout in such a way that `capture.output` cannot capture it" entails, but I agree that it's something we should do.

[2015-05-05 21:29] gavinsimpson commented on #49
@dmcglinn I agree with this; the package should be loadable without side effects or waiting for updates. You'll need some UI function to allow the user to initiate those updates, say `refresh()`? `update()` has different connotations in R - it's used to update fitted models - so you probably want to avoid that.

[2015-05-05 21:34] kevinushey commented on #49
I would say something like `ecoretriever::initialize(update = TRUE)` would be nice.

[2015-05-05 21:41] gavinsimpson commented on #49
@kevinushey to me `initialize()` sounds more like starting something and `ecoretrier` (the pkg) is already started and even when interfacing with the ecoretriever binary it's not like that is left in some running state that you might want to initialise.

[2015-05-05 21:45] gavinsimpson commented on #49
@dmcglinn @ethanwhite I think @kevinushey means that `retriever update` is writing to stdout, which gets injected into the R console when you load the package but `capture.output()` can't see that injection. I'm not familiar with system calls, but `system2` seems more recommended these days and you can have `system2()` capture stdout and stderr and return these as character vectors, which you woul

[2015-05-05 23:34] davharris opened #50 "install(dataset, "sqlite") discards downloaded data?"
When the connection is to an sqlite database and `db_file` is null (the default), the user doesn't have any easy way to access the data after it's done downloading.

[code]
It also doesn't seem to save the data anywhere in my working directory. (**Edit:** looks like it downloaded the data to the default location I set in the GUI a while back)

The issue seems to occur [here](https://github.com/rop

[2015-05-05 23:43] davharris commented on #50
Okay, it looks like it's just sending the data to my default database, which is reasonable.  But maybe it should print a message when it does this, so that the user doesn't look for it in their working directory?

[2015-05-06 15:11] dmcglinn commented on #49
Take a look at my PR in #51 and let me know what you think.

[2015-05-07 20:16] ethanwhite commented on #50
Hmm, this behavior is a little surprising to me.

In the GUI the Retriever should do the following:

1. Check to see if you've specified a path in the call and use that path
2. If not, check to see if there is a stored version (whatever you used last) in `~/.retriever/connections.config` and use that path
3. If neither of these it will store to the default directory `.` using the default file name

[2015-05-07 20:28] davharris commented on #50
Looks like it also shows up in the default directory rather than my working directory.

Here's what happens when I run your command in my mistnet directory:

[code]
I don't see it there.

Meanwhile, when I check the sqlite.db file on my desktop, it says that it was updated one minute ago.

I think this is because my ~/.retriever/connections.config file is `SQLite,{'table_name': '{db}_{table}', 'fi

[2015-05-07 20:31] ethanwhite commented on #50
I don't think this is actually the expected behavior. When I did the same thing locally I got the opposite result and if you look at the code that looks at `connections.config` it only runs when running the GUI.

Are you running on Windows?

[2015-05-07 20:35] davharris commented on #50
Mac.  I installed retriever as part of a full package including the GUI, though.  Maybe that’s what’s going on?

[2015-05-07 20:41] ethanwhite commented on #50
Shouldn't be. All installs include the GUI. Can you change the path in `connections.config` and see if the resulting file moves accordingly?

[2015-05-07 20:46] davharris commented on #50
New path in connections.config is `SQLite,{'table_name': '{db}_{table}', 'file': '/Users/davidjharris/projects/sqlite.db’}`.

Still goes to the desktop.  Very mysterious.

[2015-05-07 20:51] davharris commented on #50
It gets weirder.

I opened the GUI to change the path for sqlite manually.

It already showed the updated path, but I clicked through and hit “OK.”

Then I ran it again, and it put it in my projects folder.

Now it *always* puts it in the projects folder when I run retriever install sqlite mcdb.

[2015-05-07 20:52] ethanwhite commented on #50
Indeed it is.

If you have Python installed can you open it up and run

[code]

and post the results.

[2015-05-07 20:53] davharris commented on #50
'darwin-14.3.0-x86_64-i386-64bit'

[2015-05-07 21:06] ethanwhite commented on #50
OK, got it. So, the reason this is happening is... complicated.

1. For Windows machines that are running the GUI the working directory is a system path where no one would ever look.
2. To fix this we initially had the retriever default to using the Desktop on Windows in all cases. This was a bad idea when using both the CLI and the R package because it resulted in the kind of confusion you've bee

[2015-05-07 21:10] davharris commented on #50
Wow.  So basically it boils down to [this issue](http://www.pcworld.com/article/2690724/why-windows-10-isnt-named-9-windows-95-legacy-code.html).

Thanks again for working with me on this.

[2015-05-07 21:12] ethanwhite commented on #50
At least I'm not the only one :)

[2015-05-07 21:12] #50 closed

[2015-07-23 14:03] ethanwhite commented on #49
Should be fixed by #51.

[2015-07-23 14:03] #49 closed

[2015-07-23 14:05] ethanwhite opened #53 "Can't find retriever in RStudio (again)"
In RStudio:

[code]

In the REPL from the shell:

[code]

On Ubuntu 15.04 with (I'm pretty sure) a source install.

We've encountered this previously in #10.

[2015-09-30 20:39] davharris opened #54 "download() misbehaves with nonexistent `path`"
If I type, `download("PortalMammals", path = "nonexistent_folder")`, R responds with

[code]

But it looks like these all get written to a *file* called `nonexistent_folder`, and they each overwrite the previous one.

I think it would be better to either have the function create the folder itself or to throw an error saying that the folder doesn't exist.

[2015-10-01 00:02] ethanwhite commented on #54
Thanks for reporting Dave. What version of the retriever do you have installed. This works the way you thought it should for me with both master and 1.7.0.

[2015-10-01 00:33] davharris commented on #54
Weird. According to `retriever --version`, I'm on v1.7.0.  I get the same behavior from the command line:

[code]

I'm on a Mac running 10.10.5 and my default Python installation  (from `python --version`) is 3.4.2 :: Anaconda 2.1.0 (x86_64).  Anything else I can do to help diagnose this?

[2015-10-01 00:44] ethanwhite commented on #54
Oops. Not weird, me being sloppy. Looks like I hadn't successfully built 1.7.0 and so was still running master. Now that I'm running the right one I can reproduce the error. This was fixed in https://github.com/weecology/retriever/commit/53733226c4239b55df1173dad60fb831526bcd8e and so is fine in master. You can build upgrade to master using:

`pip install --upgrade https://github.com/weecology/ret

[2015-10-01 00:44] #54 closed

[2015-10-01 00:46] davharris commented on #54
Okay, cool.  For posterity, it looks like this issue was a duplicate of #205.

[2015-10-01 00:48] ethanwhite commented on #54
Thanks for reporting!

Here's a direct link to the retriever issue:
https://github.com/weecology/retriever/issues/205

[2015-11-08 17:55] ethanwhite opened #55 "Support new subdirectory functionality from retriever"
As of https://github.com/weecology/retriever/commit/61929bd1ff0691d6789c75d44d8f749cc80bda95 it is possible for the `download` engine of the `retriever` to keep downloaded files in the archive file subdirectory structure. This is useful for downloading GIS data and keeping it in the standard structure and should be a supported option in the R-wrapper.

[2015-11-09 16:25] ethanwhite commented on #53
Seems to be working fine for me now, so closing.

[2015-11-09 16:25] #53 closed

[2015-11-09 16:26] sckott opened #57 "Add .Rbuildignore file"
I imagine check is throwing warnings about NEWS file and README.md file? `.Rbuildignore` could include e.,g,.

[code]

[2015-11-09 16:29] dmcglinn commented on #57
Thanks @sckott I'll add this file.

[2015-11-09 16:32] sckott commented on #57
:+1:

[2015-11-09 16:34] dmcglinn commented on #55
What is the `archive file subdirectory`? Sorry I'm confused what the new feature is here.

[2015-11-09 17:12] ethanwhite commented on #55
Basically `subdir` should be an optional argument that is set to `FALSE` by default. If it is set to `TRUE` then the command should be run as `retriever download DATASET --subdir`. I'm busy the rest of today, but if you would prefer a PR let me know and I should be able to put one in this evening. Thanks.

[2015-11-10 19:37] #57 closed

[2015-11-10 19:38] dmcglinn commented on #55
solved in #56

[2015-11-10 19:38] #55 closed

[2015-11-12 14:58] dmcglinn opened #58 "R core suggest explicit import of read.csv and read.table from pkg utils"
Hey @karthik @sckott. I just got a cran error report back and they found the following note:

[code]

I can't reproduce this note using R CMD check --as-cran so I'm not exactly what is going on. Also doesn't it seem strange that I would have to explicitly import functions from the utils package? My thought was just to go to the two places these functions are called and use the `::` operator. If yo

[2015-11-12 15:25] gavinsimpson commented on #58
This is due to `r-devel` not the current `r-release` version and I suspect you didn't check against the former (or a recent enough build of the former).

Basically, when `R CMD check` does its thing (from `r-devel` onwards) it does so in an environment where only the base R functions are exported. Non of the other packages are available at the point of checking. Hence the request to explicit impor

[2015-11-12 15:55] sckott commented on #58
what @gavinsimpson said

[2015-11-12 16:00] dmcglinn commented on #58
Thanks for the great explanation @gavinsimpson!  Should I also place `imports: utils` in the `DESCRIPTION` file?

[2015-11-12 16:03] gavinsimpson commented on #58
@dmcglinn It appears not to be required, which is just plain confusing. I just added it whilst doing the same update to one of my packages (as the instructions are not clear one way or the other in WRE etc). Jari Oksanen then mentioned to me that you don;t need this in `DESCRIPTION` and `r-devel` doesn't seem to throw a fit if you leave it off. It might be worth soliciting input from the r-pkg-dev

[2015-11-12 16:07] dmcglinn commented on #58
Sounds good thanks again!

[2015-11-12 16:17] sckott commented on #58
FWIW, i now put used base pkgs in imports in `DESCRIPTION` - not clear what disadvantage there is, and it does make deps explicit

[2015-11-12 16:19] gavinsimpson commented on #58
@sckott Agreed (which is why I haven't done what Jari suggested) and some of my packages have long depended on stats and graphics at the suggestion of Kurt many moons ago. Doing so certainly doesn't throw any additional errors/warnings or nags from `R CMD check`.

I'm with you on this one.

[2015-11-12 16:21] sckott commented on #58
:+1:

[2015-11-13 15:52] #58 closed

[2016-04-19 19:31] davharris opened #63 "conn_file instructions"
I think I found two problems with the instructions this package provides for users in terms of their conn_file.

1) The man page recommends comma-separated values, but [an error message about the same thing](https://github.com/ropensci/ecoretriever/blob/4efb4812a8cac18ce86f381d498627b59434ed10/R/ecoretriever.R#L34-L37) recommends space-delimited.

2) Users might take `port 1111` literally. A more

[2016-04-20 03:04] dmcglinn commented on #63
Thanks for these Dave! These both sound like reasonable suggestions. I've just submitted the PR

[2016-04-24 16:02] ethanwhite commented on #63
Fixed by 858c3e0657f7502bd451d5d738bdf87d10399389.

[2016-04-24 16:02] #63 closed

[2016-06-09 19:06] ahhurlbert opened #66 ""Failed to load script: gentry" error regardless of dataset I try to load"
I just reinstalled retriever, and reinstalled the ecoretriever R package. Here is what I get when I try to fetch any data package:

[code]

However, I WAS successfully able to install a dataset from the command line.

Note that my student gets basically the same message at the command line when typing `retriever --version`:

`Failed to load script: gentry (C:/Users/hurlbert/Documents/.retriever/sc

[2016-06-09 19:37] ethanwhite commented on #66
Looks like maybe you both have an old cached version of the gentry script. Try running

[code]

from the command line and then updating the scripts using either

[code]

from the command line or

[code]

from R.

[2016-06-09 19:40] henrykironde commented on #66
was  wondering if that has anything to do with the Cedral site  BLOHMR site data

[2016-06-09 19:43] ethanwhite commented on #66
I suspect it's just residual issues from https://github.com/weecology/retriever/issues/402, but we'll know if it's something trickier once they try the reset.

[2016-06-10 00:59] ahhurlbert commented on #66
Ok, I'm on a different outdated machine at the moment. In R I tried `ecoretriever::fetch('BBS50')` and it downloaded only the species and routes files. So clearly an old install (I think 1.7.0)

In the command line, I reinstalled using pip, then `retriever reset scripts` and `retriever update`. Things seemed to go ok, and I can see the scripts file has all newly downloaded scripts in it.

But in R

[2016-06-10 13:36] ethanwhite commented on #66
OK, thanks.

Can you paste the output of `retriever --version` here and attach the `~/.retriever/scripts/gentry.py` file?

[2016-06-10 14:20] ethanwhite commented on #32
I'm now seeing this issue on a Windows with no anaconda installation and using a pip installed version of the retriever.

[2016-06-10 14:33] ethanwhite commented on #32
@karthik - are there any R-Windows experts on the ropensci team that might be able to consult with us on this?

[2016-06-10 16:37] ahhurlbert commented on #66
Ok, back on my original machine--same result as above.

[code]

gentry.py:

[code]

[2016-06-10 17:40] karthik commented on #32
Hi Ethan, absolutely. @jeroenooms should be able to help here.

[2016-06-10 18:26] ethanwhite commented on #32
Thanks @karthik!

@jeroenooms - in short, the ecoretriever is an R wrapper of the command line interface for https://github.com/weecology/retriever (a Python program). We currently interact with the retriever CLI using `system()` calls. On the Windows systems we developed/tested on this worked fine, but it appears that on some Windows systems (including 2 out of 3 in my lab right now) `system()` f

[2016-06-11 18:07] jeroenooms commented on #32
Did you try using `system2` instead of `system` ? I think that one is more portable.

[2016-06-12 23:04] ethanwhite commented on #32
I did try `system2` on the systems that are currently failing and got the same error. Sorry for not noting that originally.

[2016-06-13 00:10] ethanwhite commented on #66
Thanks @ahhurlbert. Sorry for the delay. We're still working on this but running into some issues along the way. I can't reproduce this on Linux. I've been trying to reproduce it on Windows, but we've been running into issues with #32, which means we can't even get this far.

While we keep working on trying to reproduce can you give the current development version a try by running:

[code]

Also,

[2016-06-13 06:16] henrykironde commented on #32
[code]
Based on the output,  How about if we try to specify the full path
[code]

[2016-06-13 09:38] jeroenooms commented on #32
Also use `normalizePath(path, mustWork = TRUE)` to make sure you get the full path in the format required for the platform.

[2016-06-13 19:39] ahhurlbert commented on #66
Error on `pip install`

[code]
so I did not run `retriever reset all`.

`which retriever` gives `/c/Anaconda2/Scripts/retriever`, but in R, `system('which retriever')` gives
[code]

[2016-06-14 16:32] ethanwhite commented on #66
Agh, sorry about that. We recently broke our dependency free install apparently. We'll fix that today. In the mean time do this instead:

[code]

Also, can you report the output of these:

[code]

If you're available for our regularly meeting this afternoon we can also do more poking around then.

[2016-06-14 17:32] ethanwhite commented on #32
That didn't fix anything unfortunately.

[code]

[2016-06-14 17:43] jeroenooms commented on #32
Can you add the `mustWork=TRUE`? That won't fix the problem but it will tell you if the path is correct.

[2016-06-14 17:46] ethanwhite commented on #32
Oops, sorry about that.

[code]

[2016-06-14 21:36] jeroenooms commented on #32
Wait so you're calling an executable `retriever.exe` which tries to run a python script? Is that intended? It looks then like the bug is in your `retriever.exe` program which fails to invoke python properly?

[2016-06-14 23:12] ethanwhite commented on #32
Yes, it is intended. `retriever.exe` is automatically created by Python's system for producing command line interfaces. It's generated just by installing the module in the standard way. It works totally fine from the command line. Apparently on Windows this is all handled by Python creating an  `exe` that ends up calling an associated Python script.

In contrast to running it from the command line

[2016-06-15 12:08] ethanwhite commented on #32
I have what seems like a bit of a hack working in #67. I'd welcome thoughts, concerns about the approach, or more satisfying alternatives.

[2016-06-21 14:51] ethanwhite opened #68 "Consider submitting to Journal of Open Source Software"
The Journal of Open Source Software is a really cool initiative to help provide review and credit for software in an academic context. Publishing there could be a good way for @dmcglinn to get some credit for this great work in a way his college will related to.

Looking at their check list there are a few things we'd need to do:

- [x] Write an abstract level summary. This is what becomes the for

[2016-06-22 03:37] #32 closed

[2016-06-22 03:39] dmcglinn commented on #68
this sounds like a cool idea @ethanwhite thanks for the encouragement. I'll look into this and get back to you likely in August. Ping me if you do not hear from me.

[2016-06-28 00:41] ethanwhite commented on #66
*For those following along at home, @ahhurlbert & I worked looked at this over a screen share & found that he was, at least, having issues with #32*

OK, we know have #32 fixed... hopefully. Can you run

[code]

And see what happens?

[2016-06-28 01:15] ahhurlbert commented on #66
I'm now back on my laptop on which I originally had this problem. I did this
[code]

and then in R get the same error as before:
[code]

[2016-06-28 01:35] ethanwhite commented on #66
OK, can you report the output of the following two commands?

1. From the command line run `which retriever`
2. From inside R run `shell('which retriever')`

[2016-06-28 01:41] henrykironde commented on #66
[69] "Failed to load script: bbs (C:/Users/Administrator/Documents/.retriever/scripts/)Failed to load script: bbs50stop (C:/Users/Administrator/Documents/.retriever/scripts/)Failed to load script: bioclim_2pt5 (C:/Users/Administrator/Documents/.retriever/scripts/)Failed to load script: fia (C:/Users/Administrator/Documents/.retriever/scripts/)Failed to load script: gentry (C:/Users/Administrator/D

[2016-06-28 01:43] ethanwhite commented on #66
@henrykironde can you explain what you just posted a little bit? Is this the output and session info you have on your Windows machine?

[2016-06-28 01:54] henrykironde commented on #66
Update: After `retriever reset all` the retriever on the same machine no scripts fail

[2016-06-28 01:56] henrykironde commented on #66
[code]
[code]

[2016-06-28 12:52] ahhurlbert commented on #66
Ok, I'm now back on my work machine and still doesn't work, but slightly different:

[code]

In both cases when I type `retriever reset all` and it asks if I want to proceed I type 'y' and nothing happens. I seem to recall in the past that I would see progress of redownloading scripts, or is that a faulty memory.

BTW,
[code]
and
[code]

We can troubleshoot further over our 2pm chat...

[2016-06-28 13:18] henrykironde commented on #66
you can do a reset manually by deleting the entire `C:/Users/hurlbert/Documents/.retriever`

[2016-06-28 18:29] ahhurlbert commented on #66
Had to manually delete the Ecoretriever folder in Program Files as well as the .retriever folder mentioned above. Now, all is well!

[2016-06-28 18:33] ethanwhite opened #69 "Add wrapper for reset"
The core retriever allows users to reset cached scripts, raw data, and config files using

[code]

This is handy for making sure everything is up-to-date, testing, and fixing broken installs.

[2016-06-28 18:55] ethanwhite commented on #66
Adding a little more information in case anyone else encounters this. There were two installations of the retriever, one using the Windows installer and one using `pip`. The command line was finding the `pip` install, but the R package was finding the older Windows installer version. Once we removed the older version (having already fixed #32) everything works as expected.

[2016-06-28 19:21] dmcglinn commented on #66
Big thanks to @ethanwhite for following this up and also to @ahhurlbert for reporting! I'll try to whip up #69 before CRAN submission stay tuned for future PR

[2016-08-19 17:41] sdtaylor opened #70 "won't work with RStudio + anaconda python"
I'm running into the same issue as #10 and #53

I'm running Rstudio and miniconda on Ubuntu 15.10. I've traced it back to the `Sys.which('retriever')` call in `ecoretriever.R`.

When I run it in Rstudio it fails because it can't find retriever in my local `~/miniconda3/bin` path

[code]

Even though it works with R from the command line

[code]

Looks like RStudio does not get access to user confi

[2016-08-21 02:00] dmcglinn commented on #70
Thanks for reporting @sdtaylor! Please let us know if you find a solution.

[2016-09-28 03:01] ahhurlbert commented on #66
I'm having a similar problem to before with reading datasets using ecoretriever in R. As suggested above I have

1) deleted all existing versions of EcoDataRetriever that I know of including folders in Program Files, Program Files (x86), `/c/users/hurlbert/.retriever`,  `/c/users/hurlbert/appdata/local/continuum/anaconda/scripts/retriever`, and `/c/users/hurlbert/documents/R/win-library/ecoretriev

[2016-09-28 12:39] ethanwhite commented on #66
This is a separate issue from the previous one. Let's do the following:

1. Try running `retriever update` from the command line. If that errors then this is an issue with the retriever itself. Open a new issue in the retriever repository.
2. If it works from the command line trying running it from R (not RStudio) and then open a new issue here and add information on whether it fails in both R and

[2016-09-28 12:39] ethanwhite commented on #66
Closing this issue again since this is a new problem.

[2016-09-28 12:39] #66 closed

[2016-09-28 12:49] ahhurlbert commented on #66
Unfortunately, the problem is on my laptop at home, so I won't be able to test until tonight. However, I did run `retriever update` when messing around before and definitely got some kind of unhappy error message.

Will follow up and post a separate issue tonight.

[2016-09-28 12:52] ethanwhite commented on #66
Thanks Allen.

[2016-09-28 18:26] ethanwhite opened #71 "Rebrand to match Data Retriever"
We've now rebranded the EcoData Retriever to just the Data Retriever. We should mirror that here both in the docs and by changing the package name, probably to `dataretriever` (since there was resistance in the past to using `retriever` which is the Python package name.

[2016-09-28 18:29] ethanwhite opened #72 "Explore how tensorflow handles Python bindings"
Our bindings to the core retriever's CLI have been fragile due to how R handles `system` calls across operating systems. There have also been additional issues with calling the retriever from RStudio due to how RStudio handles paths.

RStudio has just started developing a [`tensorflow` package](https://github.com/rstudio/tensorflow), which if I understand it correctly is basically a bunch of bindi

[2016-09-28 18:33] ethanwhite commented on #72
@davharris - would be curious to hear what you think about how they've handled this since you're playing around with it.

[2016-09-28 20:45] davharris commented on #72
I think this autoconf script does most of the heavy lifting? https://github.com/rstudio/tensorflow/blob/master/configure.ac

Looks like there's more [here (C++)](https://github.com/rstudio/tensorflow/blob/master/src/python.cpp) and[ here (R)](https://github.com/rstudio/tensorflow/blob/master/R/python.R).

Maybe they'll extract the parts that don't specifically deal with TF as a new R/Python bridge

[2016-09-29 23:29] davharris commented on #72
Turns out what they're doing is incompatible with Anaconda (at least on the Mac). Not sure what else I can contribute here with my knowledge of Python and bash.

[2016-09-30 00:13] ethanwhite commented on #72
Thanks Dave!

[2016-10-18 17:26] ahhurlbert opened #73 "Error with fresh install of master on windows"
On Windows 7 (32-bit) after a fresh install from `pip install git+https://github.com/weecology/retriever --upgrade`, I get the following in both R (3.3.1) and RStudio (1.0.9)

[code]

[2016-12-02 01:18] ethanwhite opened #74 "Explore how rgdal handles distribution of gdal in binaries"
`rgdal` relies on `gdal`, but based on the description "when installing the pack-
age from source, must be correctly installed first" it distributes `gdal` inside the binaries. It would be great if we could do something equivalent for the retriever.

[2017-01-18 18:20] beecycles commented on #70
I'm seeing the same problem.  Using OSX 10.12.2, Python 3.5.  In RStudio: "retriever is not on your path." Works fine from Terminal.

[2017-01-18 18:20] bleds22e commented on #70
I'm experiencing the same issue on Windows 7, R 3.2.3, RStudio 1.0.44

[2017-01-18 18:21] bleds22e commented on #73
I'm experiencing the same issue in Windows 7, R 3.2.3

[2017-01-18 18:28] KristinaRiemer commented on #70
Also the same problem, OSX 10.11.1, R 3.3.1, RStudio 0.99.903

[2017-01-18 18:35] ethanwhite opened #75 "`fetch` returns empty named list"
On multiple operating systems we are seeing the `fetch` command returning an empty named list instead of a named list holding data frames with the appropriate data. Ubuntu 16.04 and OS X.

[2017-01-18 18:36] MarconiS opened #76 "Can't find the retriever right path in MacOs X using RStudio. Works fine using R from the bash"
I am using macOS Sierra 10.12.2, and R version 3.2.4. The error I am experiencing is "Error in system("retriever ls", intern = TRUE) : error in running command". When I try to install.packages('ecoretriever') from the bash, everything works fine.

[2017-01-18 18:36] ethanwhite opened #77 "Add xml and json to ecoretriever format options"
XML and JSON are both available in the core retriever and should be included in the ecoretriever options.

[2017-01-18 18:37] emchristensen commented on #70
same, Windows 10

[2017-01-18 18:38] emchristensen opened #78 "problem installing dataset as sqlite"
get an error when trying to run command "retriever install sqlite wine-quality" (same problem with wood-density too)
installing as csv, json, or xml works fine
running on windows 10, using python 2.7

Error message:
Traceback (most recent call last):
File "C:\Users\EC\Anaconda\Scripts\retriever-script.py", line 9, in
load_entry_point('retriever==2.0.dev0', 'console_scripts', 'retriever')()
File "c

[2017-01-18 21:11] ethanwhite commented on #70
Just to summarize: our broad test of the `ecoretriever` this morning revealed that this is now a universal issue across all operating systems.

[2017-01-18 21:26] sdtaylor commented on #70
A straightforward workaround for this would be, if `retriever` isn't found in the default python path, to search for it in the default anaconda/miniconda paths. In linux (and I assume mac) it would be one of `~/anaconda2/, ~/anaconda2, ~/miniconda2, ~/miniconda3`. In windows it's another location that would need some detective work to make sure it stable.

[2017-01-18 21:27] ethanwhite commented on #70
heh! I was literally just exploring this possibility :)

[2017-01-18 21:33] ethanwhite commented on #70
Can everyone on this issue edit their reports to include the output of `which retriever` from the command line? That will help us map a plan for looking for these paths. Thanks.

[2017-01-18 22:08] sdtaylor commented on #70
Here is some logic that should work. Hopefully not too hacky.
https://github.com/sdtaylor/ecoretriever/commit/fe70e2edd8d2ce0bbde7fb7a5620af7fb8a0e492

[2017-01-18 22:20] ethanwhite commented on #78
Thanks @emchristensen - I'm going to close this one since it's an issue with the core Data Retriever. Thanks for reporting it over there.

[2017-01-18 22:20] #78 closed

[2017-01-18 22:34] ethanwhite commented on #76
Thanks @MarconiS! This is a duplicate of #70 so I'm going to close this and we can continue the conversation over there.

[2017-01-18 22:34] #76 closed

[2017-01-19 00:28] ethanwhite commented on #70
Looks great. Thanks @sdtaylor!

I just did a fresh install of Anaconda 3 on windows and got `C:\Users\USERNAME\Anaconda3\Scripts\retriever`.

`Sys.getenv('HOME')` returns `C:\\Users\\USERNAME\\Documents` on this machine, which is the same as one of the desktop's at work, but my Windows machine at work returned `C:\\Users\\USERNAME` so we should probably check both just to be sure.

[2017-01-19 14:38] sdtaylor commented on #70
For windows it might  be better to use the username then.

[code]

[2017-01-19 14:42] ethanwhite commented on #70
` Sys.getenv('USER')` returns an empty string on my office Windows machine.

[2017-01-19 14:45] ethanwhite commented on #70
Actually, looks like I was wrong. My work machine is also returning `C:\\Users\\USERNAME\\Documents` for `HOME`, so we should be able to just use it and chop off the `Documents`.

[2017-01-19 14:52] sdtaylor commented on #70
Can you test if this works? Should return just `C:\\Users\\USERNAME`

`basepath = dirname(Sys.getenv('HOME'))`

[2017-01-19 18:24] ethanwhite commented on #70
Yep, it works!

[2017-01-25 15:50] ethanwhite opened #81 "`.retriever` directory created in different location in RStudio on Windows"
For reasons that I cannot currently fathom, running `ecoretriever::datasets()` in RStudio on Windows (10) creates the `.retriever` directory in `C:\Users\username\Documents` instead of `C:\Users\username` where it should be. The good news is it just operates as it's own separate installation, so if your only using either RStudio or the CLI there won't be any confusion, but it just cost me 30 prett

[2017-01-25 15:55] ethanwhite opened #82 "`get_updates()` currently failing across systems"
[code]

Occurring on Windows and Ubuntu in R and RStudio.

[2017-01-26 20:57] ethanwhite commented on #73
@henrykironde can you take a look at this. Thanks!

[2017-01-27 13:24] ethanwhite commented on #70
Reopening until we get a few more successful tests in.

[2017-01-27 13:27] ethanwhite commented on #70
@beecycles @bleds22e @KristinaRiemer @emchristensen - can you run:

[code]

And then

[code]

and let us know if you get something different than the

[code]

error.

[2017-01-27 21:10] ethanwhite opened #88 "Bump version to 1.0"
#My general feeling is that once we get the last few kinks worked out that we should move to 1.0 for the next release.

[2017-01-28 16:49] ethanwhite commented on #73
It actually looks to me like @sdtaylor's fixes in #80 have solved this issue as well. I've just tested with two Windows machines and the current cran version results in this error, but `master` works.

@ahhurlbert, @bleds22e, & @henrykironde - can you run:

[code]

And see if that fixes things by then running

[code]

Thanks.

[2017-01-29 01:52] henrykironde commented on #73
@ahhurlbert, @bleds22e. let us know if you still have this error. I don't have any of the issues for both

[code]

[code]

[2017-01-29 02:14] henrykironde opened #89 "Update Readme file and source code comments"
1. Update the names of the scripts
2. Make sure the examples are working

[2017-01-29 02:43] #77 closed

[2017-01-29 02:46] #82 closed

[2017-01-29 04:11] henrykironde commented on #75
Fetch fails on several scripts

Fetch works on a few of the data retriever scripts like `Portal`, `iris `
and fails on several like poker-hands, `gentry-forest-transects`, `car-eval`

Gentry = ecoretriever::fetch('poker-hands')
Gentry = ecoretriever::fetch('gentry-forest-transects')
Gentry = ecoretriever::fetch('car-eval')

[2017-01-30 14:52] bleds22e commented on #73
@henrykironde I've been using R version 3.2.3, 64-bit. Worked beautifully.

[2017-01-30 18:32] ethanwhite commented on #75
@henrykironde are you sure that's tested on the most recent version. That was the old behavior for me but master now works fine (just tested on `car-eval`). If you already had the library loaded you need to restart R after the github based install. If that doesn't work can report the OS and R details so we can start to untangle where the issue is?

[2017-01-30 18:45] ahhurlbert commented on #73
Windows 7 32-bit, R 3.3.1: no problem, works great ;output like this:
[code]

Windows 8.1 64-bit, R 3.3.1: `ecoretriever::datasets()` now works (doesn't error), but the output is wrong (see below). Issue is probably not with `ropensci/ecoretriever` but with `weecology/retriever` installation, see issue [here](https://github.com/weecology/retriever/issues/688)

Output like this:
[code]

[2017-01-30 18:48] ethanwhite commented on #73
Awesome. Thanks to you both. Looks like the the r package is now working so closing this issue.

@ahhurlbert - I'll take a look at that machine when I see you in person to figure out what's going on with the core system.

[2017-01-30 18:48] #73 closed

[2017-01-30 19:16] henrykironde commented on #75
Test on all machines work fine, I guess after restarting

[2017-01-30 20:03] sdtaylor commented on #75
This works for me on Ubuntu 16.04 and with the current version.

`ecoretriever::fetch('gentry-forest-transects')`

[2017-01-30 20:26] ethanwhite commented on #75
Awesome. Thanks both.

[2017-01-30 20:26] #75 closed

[2017-02-06 21:57] ethanwhite commented on #81
This looks like it is happening because `Sys.getenv('HOME')` in RStudio on Windows returns `"C:/Users/username/Documents"` instead of `"C:/Users/username/"`. We should be able to check for the extra `Documents` and strip it off it it occurs.

[2017-02-06 22:01] ethanwhite commented on #81
Actually, my solution won't work because the core retriever code is handling things. It's really weird that somehow RStudio is changing how the core retriever thinks about the home directory.

[2017-02-06 22:14] ethanwhite commented on #81
Current guess is that `HOME_DIR = os.path.expanduser('~/.retriever/')` from the core retriever is run from inside RStudio (via Python) it ends up behaving like `Sys.getenv('HOME')`. Haven't figure out how to prove this just yet, but I'm experimenting with running something like:

[code]

from inside RStudio, but I haven't gotten it working yet.

[2017-02-06 22:33] henrykironde commented on #81
This is the same as explained in the PR
[code]
This happens because the  path variable is not set well.  #90

[2017-02-06 22:38] henrykironde commented on #81
I think we should close this and instead let users know that when using `Rstudio`, make sure the path to the `HOME` Environmental variables is set to your actual home not the home of `RStudio` which I think will default to the Document folder `'C:/Users/username/Documents'`

[2017-02-07 02:25] ethanwhite commented on #70
Based on reported tests in #73 this looks to be working properly now. 🎉

[2017-02-07 02:25] #70 closed

[2017-02-07 02:29] ethanwhite commented on #81
Ah yes, sorry for missing that. I feel like we should be able to solve this, so my vote would be to leave it open, but I also don't think we should put off releasing for this since it's a fairly minor issue with a new feature on a single system configuration.

[2017-02-07 17:54] #71 closed

[2017-02-08 13:33] #69 closed

[2017-02-08 13:33] #81 closed

[2017-02-08 15:48] dmcglinn opened #94 "rename the repository to rdataretriever"
After everyone's amazing work getting the package updated and renamed I think it is now time to rename the repository to `rdataretriever`. Before I do so I just wanted to make sure everyone is good with this - noting that you will have to update your local git urls.

[2017-02-08 15:51] ethanwhite commented on #94
:+1:

[2017-02-08 17:10] dmcglinn commented on #94
cool I'll do this now.

[2017-02-08 17:12] henrykironde commented on #94
@dmcglinn are you also changing the dataset and all related information to match the current retriever scripts names?

[2017-02-08 17:13] henrykironde commented on #94
Otherwise I could put in a PR after your changes

[2017-02-08 17:51] dmcglinn commented on #94
@henrykironde I didn't even know that that was something that needs to be done so if you can implement that would be great.

[2017-02-08 18:11] #94 closed

[2017-02-08 21:50] henrykironde commented on #72
@davharris based on the previous comment (below) could you try to relocate the files. The urls are broken
[code]

[2017-02-09 14:23] #89 closed

[2017-02-09 14:26] ethanwhite commented on #72
After @sdtaylor's fixes to our Windows/RStudio issues I'm feeling happy with all of this again so I don't think we need to explore alternatives for now. I'd recommend we close this unless anyone objects.

[2017-02-17 16:37] ethanwhite opened #98 "Release"
I think we've ready to release at this point and it would be good to get this wending it's way through CRAN. I've rather save the announcement for a big push next week, but unless there's a reason to wait I'd say we should bump to 1.0, release, and contact CRAN about what to do about renaming.

[2017-02-17 16:38] ethanwhite commented on #98
Thoughts @dmcglinn & @henrykironde?

We should also decide who is going to handle CRAN submissions from now on. @dmcglinn - what's your preference?

[2017-02-17 20:10] henrykironde commented on #98
Yes I think what is left is testing and verifying if we are running smoothly.

[2017-02-21 14:04] dmcglinn commented on #98
I'm happy to submit to CRAN because I'm already familiar with the process. We will need to update the NEWS.md file. I'll put in a PR right now that lists the changes I see and you guys can help me fill in the rest.

[2017-02-21 14:07] ethanwhite commented on #98
:+1:

We also need to bump the version and I see no reason not to go to 1.0 at this point.

[2017-02-21 19:39] dmcglinn opened #100 "CRAN submission reply"
Thanks, please enclose the URL in <> rather than () (for auto-linking).

ia the Data Retriever's command

Why can't you simply update ecoretriever? Typically we do not allow for
renaming packages without very good reasons.

We also see:

Found the following (possibly) invalid URLs:
  URL: http://cran.rstudio.com/web/packages/rdataretriever/index.html
(moved to https://cran.rstudio.com/web/packages

[2017-02-21 19:42] dmcglinn commented on #100
So the question is should we try to fight the name change or not. We could also decide to just distribute the package through github only.

[2017-02-21 19:50] ethanwhite commented on #100
Yes, we should fight for the name change. I'd suggest that we make all of the other fixes and resubmit as `rdataretriever` with a detailed explanation of why the old name doesn't make sense at this point. I'm willing to draft that language if you'd like.

[2017-02-21 19:51] ethanwhite commented on #100
Just to follow. I think we have "very good reasons" here, so there's no reason not to make those arguments. Strategically if we send back a perfect package with a good explanation of the name change then it should be easier to say yes than no.

[2017-02-22 00:40] dmcglinn commented on #100
Sounds good. Can you please post here a draft of the rationale. Thanks

[2017-02-22 13:55] ethanwhite commented on #100
renaming packages without very good reasons.

This packages is a wrapper for software written in Python that used to be called the EcoData Retriever. That software used to focus on ecological data, but has recently been updated to work with data much more broadly. As a result the Python software has been renamed the Data Retriever and it includes lots of data packages that are not related in any w

[2017-03-13 21:10] sckott opened #104 "ropensci website changes"
changed ecoretriever to rdataretriever on the pkgs page https://ropensci.org/packages/#rdataretriever

tutorial updated https://ropensci.org/tutorials/rdataretriever_tutorial.html

old tutorial auto forwards to new one so isn't a broken  link https://ropensci.org/tutorials/ecoretriever_tutorial.html

let me know if any changes

[2017-03-14 12:55] ethanwhite commented on #104
Thanks @sckott! All of the changes you've made look good. There is one more, which is that the `Download page` link should now point to http://www.data-retriever.org/#install. The formatting of the output will have also changed a bit since the move to 2.0 so you may want to rerun when you get the chance.

[2017-03-14 12:55] #98 closed

[2017-03-14 12:56] #88 closed

[2017-03-14 12:56] ethanwhite commented on #100
Now on CRAN!! https://cran.r-project.org/package=rdataretriever

[2017-03-14 12:56] #100 closed

[2017-03-14 12:56] #72 closed

[2017-03-14 14:00] sckott commented on #104
Sure thing, will do.

[2017-03-14 14:13] ethanwhite commented on #104
Awesome. Thanks.

[2017-03-14 14:13] #104 closed

[2017-03-14 17:35] emhart opened #105 "Additional data set"
Consider adding the data from ["A global database of nitrogen and phosphorus excretion rates of aquatic animals"](http://onlinelibrary.wiley.com/doi/10.1002/ecy.1792/abstract) DOI:10.1002/ecy.1792

[2017-03-14 17:54] dmcglinn commented on #105
Thanks so much @emhart! I'll add this to the `retriever` page: https://github.com/weecology/retriever

[2017-03-14 17:57] #105 closed

[2017-04-07 18:29] dmcglinn opened #106 "Change naming object behavior of fetch"
Currently the function `fetch` concatenates the name of the dataset (e.g., mammal-community-db) to each element of the list which represent each datafile associated with a particular dataset. See https://github.com/ropensci/rdataretriever/blob/master/R/rdataretriever.R#L102

That line of code results in the following behavior:
[code]
which is unnecessarily cumbersome to work with. I propose that w

[2017-04-07 18:38] henrykironde commented on #106
I am not sure how the data is stored when fetched, but adding the script makes those files unique.
if you have 2 datasets ie `mammal-community-db` and `portal`. and both have species table.
adding the script name as a prefix makes that file unique.

[2017-04-07 18:39] henrykironde commented on #106
Incase thats not the case, we could go ahead and adjust for simplicity as you requested

[2017-04-07 20:04] ethanwhite commented on #106
Following up on Henry's point, the core retriever works this way so that, e.g., the `species` tables from `mammal-community-db` and from `portal` can be stored in the same directory. In the case of the current use of `fetch` that is already handled since we're only fetching one dataset at a time so we'd be calling things like:

[code]

in @dmcglinn's example. Given that I think it's fine to change

[2017-06-23 20:02] ahhurlbert opened #109 "datasets() returns "Available datasets : XX" and "" as the first two items in the list"
As in...
[code]

[2017-06-24 01:31] dmcglinn commented on #109
Thanks for reporting this!

[2017-06-24 18:55] ethanwhite commented on #109
This should be fixed when using the current `retriever` master.

[2017-06-24 18:58] ethanwhite commented on #109
Yep, looks like everything is working smoothly. This will work properly with the next release or feel free to install the current dev version using:

[code]

from the command line.

Thanks as always.

[2017-06-24 18:58] #109 closed

[2017-06-24 19:28] #106 closed

[2017-06-26 10:38] dmcglinn opened #111 "Need to provide recommendations when updating retriever"
We should provide the user some advice on what commands they should run after they have updated their version of the `retriever`. I believe the relevant commands are:

[code]
I think this will avoid the problems like https://github.com/weecology/retriever/issues/947

[2017-06-28 14:37] dmcglinn opened #112 "dataset names"
We currently convert "-" to "_" see:

https://github.com/ropensci/rdataretriever/blob/master/R/rdataretriever.R#L117

But maybe we should just keep the dataset names consistent with what is returned by `rdataretriever::datasets` which seem to have converged on all names that separate words by "-". @ethanwhite any thoughts here? Also do you think that the dataset names have stabilized for the most

[2017-06-28 14:42] dmcglinn opened #113 "What to do if dataset name is mispecified"
Currently if a user tries to install a dataset that is not listed by `rdataretriever::datasets` no error is issued. In fact when using `fetch` an empty list is even returned. I propose we add at `stop('Dataset not supported, see available list of data given by datasets()')`

[2017-06-28 14:51] ethanwhite commented on #112
Yeah, I agree. They are stable, that was a one time change for the move to 2.0.

[2017-06-28 14:53] ethanwhite commented on #113
Agreed. We should be handling that better in the core retriever and it should get taken care of this summer as part of our implementation of a formal Python interface, but I see no reason not to go ahead and fix it directly in the R package for now.

[2017-06-29 01:44] dmcglinn commented on #112
the one argument for keeping the "_" rather than "-" that I can see is that R tries to treat "-" like a minus sign when referencing element names using "$". For example, `vegdata$plant-ok-comp` returns and error that the object `ok` and `comp` are not defined. This can be solved by using `vegdata$'plant-ok-comp'` which is just a little clunkier.

[2017-06-29 11:41] ethanwhite commented on #112
That's a good point. Something similar in Python is why the file names are `_` and the names are `-`. It's a juggle between programming language conventions (more `_`) and package manager conventions (more `-`). I'm happy either way.

[2017-07-01 02:54] dmcglinn commented on #112
Thanks for the feedback, I'll hold off on changing our code then (= "-" still converted to "_")

[2017-07-01 02:54] #112 closed

[2017-07-01 03:08] dmcglinn commented on #68
After adding the data mobilization meeting at iDiv I'm more motivated to pursue some kind of publication to get the word about the package. Folks were more excited and surprised by the approach then I expected. I think this is due in part to others finally realizing that there are a lot of barriers to resharing data they have compiled themselves. Folks still don't seem quite aware enough of the pr

[2017-07-02 13:30] ethanwhite commented on #68
I have a personal preference for JOSS for a few reasons:

1. Now that we are moving beyond the ecology space it seems a little strange to have the canonical software paper/citation for the R package be in an ecology journal.
2. Last time I looked MEE Applications papers weren't actually open access, they were just free to read. I think this goes against the open source ethos of the packages they a

[2017-07-14 18:27] ethanwhite commented on #68
I just set up Zenodo archiving (which we'll want regardless of where we go). Next time we release it will automatically archive to Zenodo.

[2017-08-10 19:38] Pakillo opened #117 "Error finding retriever PATH in Windows"
Hi,

First of all, thanks for the package! Really useful.

I am having problems getting the package to work. I have installed the latest retriever software from here (http://www.data-retriever.org/). It adds itself to the path and works perfectly from the terminal. However, the R package cannot find the software (using latest Rstudio).

When I run
`library(rdataretriever)`

I get:

The retriever i

[2017-08-10 23:55] henrykironde commented on #117
Hi @Pakillo thank you for reporting this issue. It is nice to hear that the tool is able to help you with managing your data. If you are running `Windows` and `Rstudio`, `Rstudio` tends to fail at getting the paths correct. I remember I had to change some settings in `Rstudio`. When it comes to Anaconda, there may be complications. I am going to test the issue further and come up with a more concr

[2017-08-11 11:22] Pakillo commented on #117
Thank you @henrykironde
In case it helps, this is the hack I made to make it work: https://github.com/Pakillo/rdataretriever/commit/ec82a811df436f79d54e3861fc3dd96ed3f760c2#diff-f9db74bd7ef4887b6a85c438844b8d5dR301

[2017-08-11 19:08] ethanwhite commented on #117
Hi @Pakillo - Thanks so much for reporting this! As @henrykironde said the Windows-RStudio combo is definitely a little fragile, which is why the code you've been modifying is there. Just so I fully understand things - am I correct that you installed the main Retriever using the Windows installer? If so can you also tell us which version of Windows you're running. The installer based installation

[2017-08-12 00:04] Pakillo commented on #117
Hi @ethanwhite !

Yes, I used the exe file for Windows from http://www.data-retriever.org/#install (actual installer: https://github.com/weecology/retriever/releases/download/v2.0.0/RetrieverSetup.exe)

Sure, Windows 7 Professional (64 bits)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

The retriever software adds itself to the path and works p

[2017-08-20 18:30] ethanwhite commented on #117
Sorry for the delay in getting back to you @Pakillo. Too much travel.

I agree that adding these three directories to the list would be a good temporary solution.

We spent a fair bit of time trying to figure out how to do that in a way that was robust to RStudio, but never figured anything out. If you know of something that would certainly be ideal. Agree that a doc addition about not changing th

[2017-08-21 01:17] Pakillo commented on #117
Ok, pull request sent! Feel free to change anything as you see fit.

I agree that most people will install to the default folder (i.e. `Program Files` or `Program Files (x86)`).

As I said this hack fixed the problem in my system, but I'm not sure the hack will work everywhere (e.g. in Spanish Windows, the installation folder is 'C:/Archivos de Programa/'). I'll let you know if I come across more

[2017-10-10 01:07] ethanwhite opened #119 "Add author ORCIDs"
https://twitter.com/AchimZeileis/status/917319708713668608

[2017-11-27 21:20] DAPPERstats opened #121 "Anaconda installation fails to connect path"
If you use install method 1 with Anaconda (as suggested on the site when you don't have Python installed already), the installation does not set the path fully and is not available in R.

[2017-11-28 00:01] ethanwhite commented on #121
Is this issue just in RStudio or does it also happen in base R?

[2017-11-28 01:35] DAPPERstats commented on #121
I actually only know that it wasn't available in base R. I'm not sure re: RStudio.

[2017-11-28 01:43] ethanwhite commented on #121
Thanks (there are some issues in RStudio that aren't a problem in base, so the fact that it's in base is all we need to know). A couple of additional questions:

1. Does the CLI work properly?
2. What does `which retriever` return from the shell?

[2017-11-28 01:56] DAPPERstats commented on #121
Got it.
The CLI works fine.
As @henrykironde and I found out earlier today, "which" doesn't work in Anaconda. I can call up the help and info on the install, though, and it's v2.1.0

[2017-11-28 01:58] DAPPERstats commented on #121
Also, I should note that an independent install via method 2 (the executable file) works and links with R just fine.
Thanks!

[2017-11-28 13:23] ethanwhite commented on #121
OK, thanks.

I'm not sure what you mean by '"which" doesn't work in Anaconda'. `which` is a shell command that tells you where a program on the path is located. It won't work from `cmd` in Windows. I think that `WHERE` should do the equivalent thing for Windows, so at the command prompt try running:

[code]

and let us know what it returns.

What appears to be going on is that R isn't handling the

[2017-11-28 17:51] DAPPERstats commented on #121
I'm running this all from the Anaconda prompt

(C:\Users\dappe\Anaconda3) C:\Users\dappe>which retriever
'which' is not recognized as an internal or external command,
operable program or batch file.

(C:\Users\dappe\Anaconda3) C:\Users\dappe>WHERE retriever
C:\Users\dappe\Anaconda3\Scripts\retriever.exe

let me know if you need any other info. thanks!

[2017-11-28 18:00] ethanwhite commented on #121
Ah, interesting. OK. Can you do there WHERE line again just using `cmd` instead of the Anaconda prompt. I'm guessing it will no longer find the retriever.

[2017-11-28 18:04] DAPPERstats commented on #121
yup:

C:\Users\dappe>WHERE retriever
INFO: Could not find files for the given pattern(s).

[2017-11-28 18:19] henrykironde commented on #121
Ah, I think Anaconda script path needs to be added to the path environment variables.
'C:\Users\dappe\Anaconda3\Scripts\' @ethanwhite what do you think

[2017-11-28 18:24] ethanwhite commented on #121
Yep. @DAPPERstats I suspect that during install there was an option to add to path or make Anaconda the default Python distribution and you didn't choose it. We could change the manually, but for the sake of understanding the probably would you mind reinstalling Anaconda and looking for those options and choosing to 'add to path' and/or 'make default. I suspect that will fix things. If so we shoul

[2017-11-28 18:40] ethanwhite opened #122 "check_for_retriever only working in RStudio"
In #121 we have a case where Anaconda didn't get added to the path during install. It's in one of the the expected directories and so `check_for_retriever` should have caught and fixed this but... wait for it... there's a difference between how R and RStudio return environmental variables:

In RStudio:

[code]

In R:

[code]

As a result our check for and removal of the `Documents` directory curre

[2017-11-28 19:06] henrykironde commented on #122
I think we should utilize this function
[code]
Also Rstuidio sometimes defines its own home path, if i remember.

[2017-11-28 19:09] ethanwhite commented on #122
@henrykironde - I agree with the basic approach or using `normalizePath` and was just starting to work on it. Do we need the `BasePath` / `ReferencePath` stuff here since we just want home directories?

[2017-11-28 19:09] henrykironde commented on #122
No We don't

[2017-11-28 19:10] ethanwhite commented on #122
OK, thanks. I'll work on it unless you're already doing it.

[2017-11-28 19:14] henrykironde commented on #122
Not yet looking through the previous PR

[2017-11-28 19:21] DAPPERstats commented on #121
Yeah, the 'add to PATH' wasn't checked in the installer, and checking it causes text to turn red (saying "this isn't recommended").
I'd suggest editing the install instructions on the main data retriever site, which say
"If you don’t have Python installed we recommend installing Anaconda using the default options in the installer and then running this conda install command."

I uninstalled and rei

[2017-11-28 19:41] ethanwhite commented on #121
Thanks @DAPPERstats! Apparently Anaconda changed it's installer defaults... again.

@zhangcandrew - if you have a few minutes could you PR a wording change into https://github.com/weecology/retriever-site ?

[2017-11-28 19:44] DAPPERstats commented on #121
You're welcome! Glad to help. Thanks for helping track this down!

[2017-11-29 00:47] ethanwhite commented on #117
Fixed by #118. Thanks again @Pakillo!

[2017-11-29 00:47] #117 closed

[2017-11-29 02:19] #121 closed

[2017-11-29 09:52] Pakillo commented on #117
You're welcome! Thanks to you for fixing up everything, and releasing the software in the first place!
Cheers

[2017-12-14 01:25] henrykironde opened #125 "Improve documentation"
1. Include examples of Postgres and mysql installation and fetch
2. Let users know clearly that they must use a connection file.
3. More improvements to the docs are welcome

Note: There are two documentations for this package.

1. https://cran.r-project.org/web/packages/rdataretriever/rdataretriever.pdf
2. http://retriever.readthedocs.io/en/latest/rdataretriever.html#rdataretriever

[2017-12-14 01:33] henrykironde opened #126 "Update package to handle more customized during installation"
The current function does not consider some retriever options

[code]
We need to provide more options for users to at least provide a customizable install into the databases they want with a name of their choice

[2018-02-27 23:44] pranita-s opened #131 "Fetch returning empty list"
The fetch function returns an empty list for a given dataset, eg - "airports" as shown in following image -

![rdataretriever](https://user-images.githubusercontent.com/14193989/36761178-e52cf162-1c43-11e8-9131-886362b6d992.png)
Reason - temp_path variable records the temporary path. Line number 121 records the file path and tries to install the files but "file.path(temp_path, '{db}_{table}.csv')"

[2018-02-28 02:09] ethanwhite commented on #131
Thanks for reporting this @pranita-s and for doing a great job tracking down the issue!

This is a pretty confusing one because it looks like it should work and we have a test passing for `fetch` on continuous integration. I looked around a bit myself and what I'm seeing suggests that there may be a change in capitalization that is messing with the proper use of `tempdir()`:

[code]

So, in my cas

[2018-02-28 07:26] pranita-s commented on #113
Among three functions - download and install display following message:
`The dataset dataset_name isn't currently available in the Retriever
Run 'retriever ls to see a list of currently available datasets`.

Only fetch does not, as line 121 has "-q" option. If it is removed, it will display the message too. Also the length of "bone" variable can be checked before returning. If it is 0, it implies

[2018-02-28 09:34] pranita-s commented on #111
@ethanwhite Will the use of demo() functionality (https://rdrr.io/r/utils/demo.html) in R be appropriate ?

[2018-02-28 14:24] ethanwhite commented on #111
I have no objections to using `demo()` in general. I'm unclear on exactly how it would be used to address this issue, but go for it!

[2018-02-28 15:54] ethanwhite commented on #131
This is now fixed in the core retriever https://github.com/weecology/retriever/issues/1101, but since it is broken in the last release I think we should handle this here as a special case as mentioned in #132.

[2018-02-28 16:41] dmcglinn commented on #111
Hey @pranita-s thanks for being willing to tackle this issue. Do you think `demo` would be better than a printed message when the package loads?

[2018-02-28 16:42] dmcglinn commented on #111
I'm thinking of a modification to the function `.onAttach` https://github.com/ropensci/rdataretriever/blob/master/R/rdataretriever.R#L276

[2018-03-01 14:07] ethanwhite commented on #131
Fixed by @pranita-s in 1a46e6c.

[2018-03-01 14:07] #131 closed

[2018-03-01 15:03] pranita-s opened #133 "Non-communicative nature of fetch function"
Related to #113. Non-communicative nature of fetch function due to existence of '-q' option is not letting error/warning messages to be displayed in R.

[2018-03-03 09:06] pranita-s commented on #126
@henrykironde Please elaborate the requirements.
I tried postgres connection to install and included "database_name" and "table _name" in postgres.conn file. It installed the datasets by creating mentioned database and table names in the conn file.

[2018-03-03 19:04] henrykironde commented on #126
Could you send me the command you used, just to be clear

[2018-03-04 05:40] pranita-s commented on #131
@ethanwhite @henrykironde The updated fetch command has been merged with master branch but, after updating the scripts, the fetch command through "rdataretriever" package is still not working.
Is there a different process for updating the package in R with updated scripts?

[2018-03-04 08:06] henrykironde commented on #126
In the config file, remove the table name line. The custom table name was designed for single table datasets like iris. I will raise an issue about that to remove that option or make it better.

[2018-03-04 08:18] henrykironde commented on #131
Since you are working based on both changes in the core Python package and R package, you will have to checkout the retriever repository and install retriever from that repo. (`pip install . --upgrade`)
Then, with the new R package update installed too, I believe everything will be fine.

After installing the retriever python library, I recommend you do a `retriever reset all`, Then using R, you c

[2018-03-04 09:48] pranita-s commented on #126
I removed the table line, and install function from environment takes the database name from the postgres.conn file but install function from rdataretriever does not.
Why are both of them behaving differently?

[2018-03-04 16:35] henrykironde commented on #126
It looks like it's a permission issue. May be the `rdataretriever` does not have permission to use that file.

[2018-03-06 16:08] ethanwhite commented on #113
I like the empty list with the warning, which is what @pranita-s has implemented in #134. I'm going to review that shortly.

@dmcglinn - does that seem like a reasonable solution to you?

[2018-03-06 16:13] ethanwhite commented on #113
Hmmm, OK this isn't actually totally satisfactory since the recommend fix applies to the CLI not the the R interface. I think we should catch these and return R specific advice about checking `datasets` and updating.

[2018-03-06 16:16] ethanwhite opened #135 "Replace `bone` variable name"
I get the idea of `bone` as the thing that the retriever is fetching, but it makes the code difficult to follow for me because it's not very intuitive and I imagine that for non-native speakers or folks who just don't get the joke it's really confusing.

[2018-03-06 18:41] ethanwhite commented on #131
@pranita-s - it looks like thinks are working for me, including with the last release of the retriever (i.e., without needing to update the Python package).

Did you update your local installation of the R package?

[2018-03-08 11:01] pranita-s commented on #135
@ethanwhite What should be the new variable name? data_sets may be? As it holds all the datasets in the form of list.

[2018-03-08 12:49] ethanwhite commented on #135
@pranita-s That sounds good, but since dataset (no space) is a commonly acceptable form let's go with `dataset` and skip the underscore.

[2018-03-08 12:53] ethanwhite opened #136 "Switch to named list for returning fetched data"
Currently fetch returns a list of data.frames, but the user has to know the order to work with them. Instead let's return a named list with the associated table names so that we can reference tables by name. E.g.,

[code]

[2018-03-09 13:17] pranita-s commented on #136
@ethanwhite I have updated the code for named list in the commit https://github.com/ropensci/rdataretriever/pull/134/commits/fd530e966a761fd045db0995581fee2f63b22e7b.
Please let me know your thoughts about it.

[2018-03-09 13:19] pranita-s commented on #135
I have addressed this issue in the commit https://github.com/ropensci/rdataretriever/pull/134/commits/fd530e966a761fd045db0995581fee2f63b22e7b

[2018-03-10 16:33] pranita-s commented on #136
@ethanwhite What are the exact requirements ?

[2018-03-11 13:14] ethanwhite commented on #136
Hmmm, apparently a comment I tried to leave here yesterday didn't end up posting for some reason. Apologies for any associated confusion.

This is a particular instance of a case where we need to make cross-language decisions about what the API should look like so that it functions the same way in R, Python, and Julia (we have a wrapper under development there as well. I think there are two compon

[2018-03-11 14:32] pranita-s commented on #136
@ethanwhite As I am working on a proposal, I am currently concentrating on R API and ideas list does not contain anything about Julia packages. Do I need to work with Julia package too?

[2018-03-11 18:18] ethanwhite commented on #136
@pranita-s I don't think it's crucial to the proposal, but you might make the proposal stronger by highlighting that it will involve 3 of the major data science languages. I think it's fine to either include it or leave it out.

[2018-03-11 18:37] ethanwhite commented on #135
Fixed by @pranita-s in a12397c7b049d10288e971cffa90e1d1c9d374bb.

[2018-03-11 18:37] #135 closed

[2018-03-11 18:37] ethanwhite commented on #133
Fixed by @pranita-s in a12397c7b049d10288e971cffa90e1d1c9d374bb.

[2018-03-11 18:37] #133 closed

[2018-03-11 18:39] ethanwhite commented on #136
I'm going to go ahead and close this since it's part of the larger API synchronization effort. When we've collectively decided on the route forward we can open a new issue with the details.

[2018-03-11 18:39] #136 closed

[2018-03-12 14:49] pranita-s commented on #136
@ethanwhite @henrykironde I have a few doubts while working with Python API, R API and command line interface of retriever for proposal.
1. While running install for example with postgres, the given database is created with command line interface, but with Python and R API it displays - "database doesn't exist". Should this be an issue or I might be doing something wrong?
2. Retriever's command li

[2018-03-12 19:21] ethanwhite commented on #136
I get the same results when installing from the CLI and Python, which behaves normally. There are currently differences for the R package in that it relies on the existence of a `postgress.conn` file in the users home directory with connection information. If you have the tests running locally then this file should be:

[code]

to match the Travis configuration.

That said, I'm currently erroring

[2018-03-12 19:32] ethanwhite commented on #136
@pranita-s I'm realizing that I'm actually not sure that we don't rely on `postgress.conn` in Python as well. That would be something to check. If we're using it in Python now then we may not need the extra code in R.

Take home - for the purposes of the proposal I think you can just state that R currently handles database configuration files itself, when it should be using the Python packages fac

[2018-03-12 20:13] henrykironde commented on #136
We use connection info `https://github.com/ropensci/rdataretriever/blob/master/R/rdataretriever.R#L13` as stated here. The connection information is handled in the install function https://github.com/ropensci/rdataretriever/blob/master/R/rdataretriever.R#L30.

In python we use the defaults in the respective engines or the values provided by the respective configuration files for the databases.  po

[2018-03-13 13:47] pranita-s commented on #136
@ethanwhite @henrykironde Thank you! Please let me know if I understood it wrong-
In cases where config information is not given through command line/arguments, Python takes info from `~/.pgpass` and `my.cnf`. R `install` function has to be altered to exhibit the same behaviour.

This triggered more doubts related to ideas list:

**Match the R install API to the Python install API while maintainin

[2018-03-13 15:04] henrykironde commented on #136
`Thank you! Please let me know if I understood it wrong-
In cases where config information is not given through command line/arguments, Python takes info from ~/.pgpass and my.cnf. R install function has to be altered to exhibit the same behaviour.`

When we use the python library, the CLI in this case, we can run something like

[code]
In the example above, we are providing most of the arguments.

[2018-03-13 16:56] ethanwhite commented on #136
:+1: to @henrykironde's points. Just to restate a couple of them for clarity.

We can leave the existing `install` function for backwards compatibility. Old code will still work the same way because we'll leave the general install function, but we'll also have `install_mysql`, `install_sqlite`, etc. to match the Python API. We may want to use `install()` inside the individual `install_*` functions

[2018-03-27 15:37] ethanwhite opened #137 "Explore using reticulate to directly wrap Python API"
We currently wrap the CLI, but the new package `reticulate` is designed to allow directly running Python and using Python objects from inside of R:

https://blog.rstudio.com/2018/03/26/reticulate-r-interface-to-python/

This would be equivalent to the approach we are currently using for the Julia package and rewriting this way could potentially be done as part of unifying the APIs which is one of

[2018-04-26 15:17] pranita-s commented on #137
@ethanwhite @henrykironde What will be the most apt task with which I should start ? I have explored reticulate, should I start coding basic functions using it?

[2018-04-26 17:13] henrykironde commented on #137
Let us discus this later. I will have a look at the proposals and we can see what to prioritize. I will send you a message today after going through your proposal.

[2018-05-15 20:53] henrykironde opened #139 "Travis failing due to internal updates"

[2018-05-16 01:15] henrykironde commented on #139
@pranita-s Thanks for reporting this. I have gone through the issue and I think the packages need to be updated.
Non of these packages works on my system
[code]
Something may have changed in the DBI package or we could try to use the DBI package directly.

For now we can use the reticulate branch for development.
I believe we shall have to change the entire test platform since we are adding reticu

[2018-05-16 12:48] pranita-s commented on #137
@henrykironde  Please check https://github.com/pranita-s/rdataretriever/blob/reticulate-implementation/reticulate/rdataretriever.R. I have coded for fetch,download,datasets and getupdates function using reticulate.
- download() - There is an option to enable writing of log file in R API but Python API does not have function for the same. How to proceed in this case ?
- get_updates() - If reticulat

[2018-05-16 14:49] henrykironde commented on #137
`If reticulate is used, the entire iterative progress bar is printed as output. Therefore, should the function be using retriever CLI as before ?
Awaiting your feedback!
` Am curios to why this happens in get_updates, does it happen to other functions too?

`download() - There is an option to enable writing of log file in R API but Python API does not have function for the same. How to proceed in

[2018-05-16 16:05] pranita-s commented on #137
`If reticulate is used, the entire iterative progress bar is printed as output. Therefore, should the function be using retriever CLI as before ? Awaiting your feedback! Am curios to why this happens in get_updates, does it happen to other functions too?`

No it does not. Its only the case with get_updates.

[2018-05-16 21:50] henrykironde commented on #137
Hi @pranita-s, I am trying to get the cause of the of the problem. For now could you create a PR. It becomes easy to test and include some of the testing sample output.

[2018-05-16 21:55] henrykironde commented on #137
Looks like you updated the PR so, thanks #138

[2018-06-27 00:39] sunyi000 opened #144 "Is ecoretriever still available?"
sorry if this is not the appropriate place to post this question. I'm trying to install ecoretriever by following the instruction here https://github.com/cran/ecoretriever
but it seems to me that it is no longer available, and everything is redirected to rdataretriever?  are these two the same now, or there's another way somewhere to install ecoretriever?

Thank you very much

[2018-06-27 00:58] henrykironde commented on #144
@sunyi000, the software is now rdataretriever.
Let me know when you find any problem installing the software.

[2018-08-20 16:49] henrykironde opened #150 "Update documentation in the retriever repo- GSOC"
Since we are separating functions from install to install_[engine name], we shall have to update the rdataretriever's docs in the retriever repo

[2018-08-20 17:40] #150 closed

[2018-08-21 05:28] pranita-s opened #157 "Different behavior of Travis tests for same PR on the master and its forked repo"
The PRs #153,  #154, #155 are failing when created for ``ropensci/rdataretriever`` but the PR of the same branch created for the forked repo ``henrykironde/rdataretriever`` passes all the tests (Ref: https://github.com/henrykironde/rdataretriever/pull/4)

[2018-10-10 19:44] ahhurlbert opened #158 "Error in paths to scripts when using fetch()"
This problem may not be rdataretriever specific, but somehow there is an error in the path retriever is looking for scripts, concatenating the users directory with my user name directory, and thus not fetching any datasets.

[code]

[code]

[2018-10-10 22:00] henrykironde commented on #158
@ahhurlbert, Thank you for the issue. Could you try to install the development version of the package from source
[code]

[2018-10-11 02:02] ahhurlbert commented on #158
When installing from source I get this message:
[code]
Then, when fetching a dataset, there still seems to be this path name concatenation problem, but it seems to work around it. Reading in "portal", it seems to work and I get a "main", "plots", "species" tables.
[code]
Reading in "breed-bird-survey" I only get the "species" table and then it errors.

[code]

[2018-10-11 02:40] henrykironde commented on #158
How did you install the retriever tool?  Are you using python or the retriever.exe file?

[2018-10-11 18:34] ahhurlbert commented on #158
Python 3.6 and I don't remember, but I think it was using `pip install retriever`

[2018-10-11 18:36] henrykironde commented on #158
That sounds like it. Can you install the latest development version.
`pip install git+https://git@github.com/weecology/retriever.git`

[2018-10-11 18:47] ahhurlbert commented on #158
Ok, I've  reinstalled from github and reset scripts. Now, Portal seems OK but BBS still only returns the "species" table:
[code]

[2018-10-11 21:07] henrykironde commented on #158
Can you try to reset the data files and see if that helps.
Also try to install using either `rdataretriever::install('breed-bird-survey', 'csv')` or `rdataretriever::install('breed-bird-survey', 'sqlite')`

[2018-10-15 01:05] ahhurlbert commented on #158
I tried the following with the same results:
[code]

[2018-10-16 01:02] ahhurlbert commented on #158
[code]

[2018-10-16 01:52] henrykironde commented on #158
@ahhurlbert could you do a `retriever update` and try again.

[2018-10-16 02:15] ahhurlbert commented on #158
Running `retriever update` and then `retriever install sqlite breed-bird-survey` seems to work fine in the terminal now.

Still having the same result as above trying `bbs = rdataretriever::fetch('breed-bird-survey')` in RStudio.

[2018-10-16 05:38] henrykironde commented on #158
I will try to test this during the day`bbs = rdataretriever::fetch('breed-bird-survey')`, sorry for the inconvenience.

[2018-10-23 12:21] ethanwhite opened #159 "Encourage use of reticulate's installation process of python package"
One way to get around some of the installation challenges and associated path issues may be to use reticulate's installation facilitities:

https://rstudio.github.io/reticulate/articles/python_packages.html

This could either be in the installation guidelines or we might even be able to trigger the installation on package load if R doesn't see the package.

[2018-12-19 22:02] henrykironde commented on #125
Covered and included a badge in 7261335

[2018-12-19 22:02] #125 closed

[2018-12-19 22:03] henrykironde commented on #126
covered in the fb7d1b9

[2018-12-19 22:03] #126 closed

[2018-12-19 22:07] henrykironde commented on #139
Moved to docker fb7d1b93

[2018-12-19 22:07] #139 closed

[2018-12-19 22:08] henrykironde commented on #157
This has not been seen recently. I will close it for now.

[2018-12-19 22:08] #157 closed

[2018-12-19 22:08] #144 closed

[2019-01-06 01:43] ethanwhite commented on #74
We decided to use `reticulate` to call the Python package directly, so we don't need to further pursue this approach.

[2019-01-06 01:43] #74 closed

[2019-01-06 02:31] ethanwhite commented on #158
@ahhurlbert & @henrykironde - did you end up getting this figured out?

[2019-01-06 03:18] #119 closed

[2019-01-07 15:38] ahhurlbert commented on #158
No. It's been a long time, but my fuzzy recollection is that I uninstalled all retriever related things, manually deleted the seemingly problematic folder that had been created called 'usershurlbert' (at least that was part of the problem), and when I reinstalled retriever, a 'usershurlbert' folder was created again.

Unfortunately, this problem is all on my laptop which I don't have in front of m

[2019-01-07 18:54] ethanwhite commented on #158
That is weird. Next time you get the chance (no rush) if you can post the current status here we can keep digging.

[2019-01-20 23:09] henrykironde opened #170 "New release version."
We are planning to roll out a new release. let me know if there is something we need before the release.
Proposed tag v1.1.0 (git tag -a v1.1.0)

[2019-01-22 19:41] ethanwhite commented on #170
Also, tests on Windows systems and in RStudio of the current `master` branch would be great if anyone has a few minutes.

[2019-01-29 13:42] ahhurlbert commented on #158
How often has a github issue been "resolved" because a computer died?

With the death of my laptop, assuming no one else has replicated the problems I was having, I assume this can be closed!

(I'll try my best with whatever new machine I get to keep being THAT user who manages to stumble on errors you never thought possible.)

[2019-01-29 14:02] ethanwhite commented on #158
:laughing:

Thanks @ahhurlbert.

[2019-01-29 14:02] #158 closed

[2019-01-31 23:31] henrykironde opened #172 "RMariaDB does not seem to work"
**`RMariaDB`** is used for tests and currently, it has not been able to connect to the databases.
RMariaDB currently does not seem to support parsing of the args for connection directly, but rather read them from the Configuration(`my.conf`) file.

[code]
Using a Conf file, this has not worked for now.
[code]
https://github.com/r-dbi/RMariaDB/issues/74
https://github.com/r-dbi/RMariaDB/issues/115

[2019-02-03 14:02] ethanwhite opened #173 "No scripts when using reticulate based install on retriever"
I installed `retriever` using the `reticulate` based install:

[code]

This successfully creates the default `r-reticulate` conda environment and the retriever works if I activate that environment from the command line and run things there.

However, in RStudio the datasets don't show up:

[code]

[2019-02-03 14:54] ethanwhite commented on #173
If you restart RStudio after running `get_updates()` then the datasets are visible:

[code]

This is repeatable, so if you delete the `.retriever` directory, restart RStudio, run `get_updates`, and then run `datasets()` it will return NULL. If you restart RStudio and then run `datasets()` it will return the correct values.

[2019-02-03 16:10] ethanwhite commented on #173
Interestingly something similar may be happening from the command line (this is on Ubuntu):

[code]

[2019-02-03 16:19] ethanwhite commented on #173
This is actually a core retriever bug: https://github.com/weecology/retriever/issues/1229

[2019-02-03 16:19] #173 closed

[2019-02-11 20:49] juniperlsimonis opened #174 "duplicate .retriever folders on windows"
windows machine creates a `.retriever` folder in `c:\users\<username>` as well as `c:\users\<username>\documents`

[2019-02-12 03:57] juniperlsimonis commented on #174
oops sorry, this should be in the retriever repo

[2019-02-12 03:57] #174 closed

[2019-02-14 20:21] ha0ye opened #175 "[feature request] split out functionality of the `fetch` function"
The `fetch()` function seems to do 2 things:
* download dataset(s) to a temporary directory
* import dataset(s) into a name list

There are existing functions to separately download raw and formatted datasets, but no functions to handle data importing. It seems reasonable to also expose the importing functionality to users and then refactor `fetch` to be a combined 2-step function that goes throug

[2019-02-16 21:59] ethanwhite commented on #175
Thanks for the suggestion @ha0ye!

This sounds like a good idea, but I'd like to understand the use case just a little more to help guide development. Is the idea that in some cases you might want to download the data once, but load it repeatedly?

If so do you envision wanting to handle that logic yourself (e.g.,):

[code]

Or would you prefer to have `fetch` handle this for you, so that `fetch`

[2019-02-16 22:52] ha0ye commented on #175
Yep, that’s the use case I had in mind.

I think I lean towards expecting a user to handle the logic of installing and loading. You could modify fetch to have additional logic to check downloads, but with the name “fetch”, my default expectation is that it would always be downloading again.

[2019-02-16 23:28] ethanwhite commented on #175
Thanks! One follow up. What do you think about a third alternative: including this behavior in `fetch`, but as an optional flag:

[code]

With the default for `update_local_data` set to `TRUE`.

[2019-02-17 01:00] ha0ye commented on #175
Sure, I think that could work!

[2019-02-17 01:42] ethanwhite commented on #175
Thanks!

[2019-02-26 19:57] ethanwhite opened #176 "Improve communication when install fails due to missing `retriever`"
I just received this report of an install issue via Twitter.

https://twitter.com/Latrunculia/status/1100481392532750337

While I believe we have useful communication related to missing Python `retriever` installs when loading the package it doesn't seem to show up when installing. It would be good to have failed installs communicate clearly about the missing dependency and how to fix it.

[2019-02-26 19:58] ethanwhite commented on #159
As part of #176 I think it would be helpful to move to a focus on using `reticulate` for the basic recommended install. I have this all worked out and written down somewhere so I'll try to take care of this soonish.

[2019-03-11 20:11] #159 closed

[2019-03-25 09:22] harshitbansal05 opened #180 "Add functionality to reset a specific dataset"
The functionality to reset a specific dataset can be added similar to Retriever.

[2019-03-26 04:53] harshitbansal05 opened #181 "Possible error in download function regarding argument sub_dir"
There is a possible error in the download function regarding the argument `sub_dir`. The current code is:
[code]
However, the argument `sub_dir` decides whether to download all the files in a subdirectory inside the path argument. So, path should be passed to the download function even if `sub_dir` is False. Kindly correct me if I am wrong.

[2019-03-26 14:39] ha0ye opened #182 "version bump or update instructions for installing from github"
It looks like there was a change in `install_csv` that adds `data_dir` as an optional argument. After @ethanwhite's [PR in MATSS](weecology/MATSS/pull/105) to use this functionality, I had trouble running this on my local machine.

Using `pip install git+https://git@github.com/weecology/retriever.git` to update retriever to the dev version didn't seem to work, but cloning the repository and runnin

[2019-03-28 01:54] harshitbansal05 commented on #181
@henrykironde could you please add your views on this?

[2019-03-28 02:09] henrykironde commented on #181
Sorry for the late reply, I have been busy. I will look at it right now

[2019-03-28 13:52] henrykironde commented on #181
I think we should change this to `data_dir` and this applies to the retriever too

[2019-03-28 13:54] henrykironde commented on #182
Could you try `pip install git+https://git@github.com/weecology/retriever.git  --upgrade` and install `rdataretriever` from master.

[2019-03-28 14:23] harshitbansal05 commented on #181
@henrykironde sorry, but I didn't quite get you. Shouldn't we just change the entire if-else statement to simple: `r_data_retriever$download(dataset = dataset, path = path, sub_dir=sub_dir)`, and leave it to Retriever to handle? Please correct me if I am wrong.

[2019-03-29 00:11] harshitbansal05 commented on #180
@henrykironde, if possible can I work on it?

[2019-03-29 00:18] ethanwhite commented on #180
Hi @harshitbansal05 - yes, it would be great if you could wrap the functionality you added to the retriever in https://github.com/weecology/retriever/issues/1241 for the R package. Thanks!

[2019-03-30 00:13] henrykironde commented on #181
@harshitbansal05, looks like it, But I have to get time to go through the the download function in the python file.
From a quick look, it seems that  r_data_retriever$download(dataset = dataset, path = path, sub_dir=sub_dir) works fine.

However, initially what `subdir` was doing was to keep files in a different directory when downloaded.
We added data_dir to other file engines and I have a feelin

[2019-04-15 22:53] henrykironde opened #184 "Update download to use sub_dir"
refer to https://github.com/weecology/retriever/pull/1305

[2019-04-16 23:22] #180 closed

[2019-04-16 23:23] henrykironde opened #185 "Add test for reset"

[2019-04-18 06:04] harshitbansal05 commented on #185
@henrykironde may I work on this?

[2019-04-18 23:53] henrykironde commented on #185
Yes please, go ahead

[2019-04-21 22:55] #184 closed

[2019-04-21 23:48] #185 closed

[2019-05-02 14:35] ethanwhite opened #190 "Releasing to CRAN"
We're about to release 2.0.0, which is major rewrite to leverage `retriculate` for wrapping the Python API directly and adding a bunch of new functionality from it.

@dmcglinn - we wanted to know how you wanted to handle releasing this to CRAN. We're happy for you to do it if you want to, but we're also happy to take over that responsibility if you prefer. Just let us know which route you want to

[2019-05-02 14:44] dmcglinn commented on #190
Hey @ethanwhite et al. great work on all the updates to the package! I've taken a back seat to developing this package, and I don't feel I'm the best person to be considered first author on this release. Is anyone interested in stepping into this role for this package? @henrykironde perhaps. If so maybe they could update the package description file and lead the CRAN submission. If folks are happi

[2019-05-02 15:24] henrykironde commented on #190
Thanks folks. Hello @dmcglinn hope you are fine. I personally think the authorship list is perfect as it is right now. Like you mentioned, the main horror is CRAN submission. I do believe you are super busy but if you could help in this release and draft a few release steps for the future(may be as an issue), that would be great. I will do the formatting where needed and I will add them to develop

[2019-05-02 15:51] ha0ye commented on #190
Assuming the package passes all CRAN checks and the "Description" field in DESCRIPTION is unchanged, submitting updates is usually smooth, in my experience. (My biggest headaches have been on repeated back and forths over wording and formatting of the "Description"...)

[2019-05-02 16:32] henrykironde commented on #190
Okey, I guess I will have to change some testing on this to be ready. Thanks @ha0ye

[2019-05-23 21:39] henrykironde commented on #190
@dmcglinn, we have this package ready for release. I am not sure if it will be fine since I removed you from creator to author. I suspect we may need to add you and change that after release. let know in case of any thing needed

[2019-05-24 21:34] dmcglinn commented on #190
Hey @henrykironde changing me from creator to author looked great. I think that's the right call. Do you want me to submit it to CRAN still or do you want to do the honors?

[2019-05-24 22:01] ha0ye commented on #190
FYI, for a transfer of maintainer-ship, CRAN will contact both the newly listed maintainer (@henrykironde) and the previously listed maintainer (@dmcglinn) to verify. It doesn't matter who uploads - I could do it, even. :)

[2019-05-24 23:12] henrykironde commented on #190
Yes @ha0ye  do it if you can. Do we need to first create a GitHub release?

[2019-05-24 23:27] ha0ye commented on #190
Nope, not necessary.

[2019-05-25 00:12] henrykironde commented on #190
Great, super excited to install the release

[2019-05-25 02:38] ha0ye commented on #190
I ran into some errors when running the tests - it looks like maybe they assume that postgre and mysql are installed, and might fail when they are not?

[2019-05-25 03:14] henrykironde commented on #190
Thanks @ha0ye, That is true but it is fine, we have handled that for CRAN.
Tests locally will need developers to have Postgres and MySQL servers.
However, we also have the docker environment test capabilities where you do not need to install these servers.
Use` docker-compose run rdata Rscript load_and_test.R` to test.
ref: https://github.com/ropensci/rdataretriever#using-dockers

[2019-05-25 13:58] henrykironde commented on #190
Thank you @ha0ye 👍, I received the CRAN email and accepted, we are waiting for @dmcglinn. I think we shall be up and running after the holidays

[2019-05-26 01:59] henrykironde commented on #190
Thanks again everyone who made this release possible, great work from everyone.

[2019-05-26 01:59] #190 closed

[2019-06-25 12:28] naureen3 commented on #121
I can't seem to solve this where ever I type conda it says it's not recognized and when i say where conda it says could not find... I typed cd and gave it the path and it didn't get it... and then i went to advanced settings and tried changing things there and nothing happened :( ... i just want to install lightfm... i tired from everywhere pip... and now that i couldn't do it using pip I tired us

[2019-06-25 12:50] ethanwhite commented on #121
Hi @naureen3 - thanks for letting us know about your issue. What operating system are you using?

[2019-09-30 13:51] ethanwhite opened #196 "Add Windows specific install instructions"
(if you haven't already)

1. Install Rtools
2. Install devtools
3. Possibly (1 computer so far) manually install Rcpp
4. Continue with the rest of the instructions
6. (needed on some computers) Restart RStudio after install rdataretriever package

[2019-09-30 13:58] ethanwhite opened #197 "Note need to 64-bit miniconda in install instructions"

[2019-10-01 20:57] henrykironde commented on #196
Additionally,
Since Ropensci has now started hosting docs, we should go ahead and merge the docs in these two locations
https://docs.ropensci.org/rdataretriever,
https://retriever.readthedocs.io/en/latest/rdataretriever.html
And make sure they sync

[2019-10-01 20:59] henrykironde commented on #196
@Ethan thanks for instructions, I will try the above on a fresh windows system and update accordingly.

[2019-10-02 00:40] ethanwhite commented on #196
Ooh nice. Yeah, I think moving everything to the ropensci docs is definitely the way to go!

Also, since I wasn't super clear when I added these, this is temporarily until `reticulate` gets a new release. I'm going to submit an issue over there this evening in the hopes that they can do this quickly.

[2019-10-02 12:16] ethanwhite opened #199 "Windows usage until new release of reticulate"
As @ahhurlbert helped us discover in https://github.com/weecology/retriever/issues/1390 `reticulate`'s defaults are not currently working properly on Windows in the current release (1.13). Until then Windows users will need to do one of the following:

1. Upgrade to the current development version of `reticulate` using `devtools::install('rstudio/reticulate')`
2. Explicitly set the conda environme

[2019-10-09 13:59] ahhurlbert commented on #199
Sorry, but I'm still having trouble with reticulate. On a new Windows 10 machine, I've installed Python 3.7 (Miniconda) from the suggested link. Regardless of whether I install `reticulate` from CRAN for devtools, `use_condaenv('r-reticulate', require = TRUE)` returns
[code]
I can see a Miniconda3 folder installed in C:/ProgramData (which is a hidden folder). Is R having trouble finding this for s

[2019-10-09 15:17] ahhurlbert commented on #199
I guess the install steps did not create it in that instance. Is there any harm in putting `conda_create` in my instructions to students, even if it has already been created?

Also, `conda_create()` allowed me to successfully continue with `use_condaenv()` and `py_install('retriever')`, but after installing `Rdataretriever`:
[code]

Closing and reopening RStudio and trying again yields:
[code]

[2019-10-09 16:00] ethanwhite commented on #199
If you close the re-open R you need to rerun the `use_condaenv` command. Can you do that and see if you get the same error you initially did? I'm not seeing this on my Windows system at the moment.

[2019-10-09 16:11] ahhurlbert commented on #199
Still
[code]

[2019-10-09 18:51] ahhurlbert commented on #199
On yet another Windows 10 machine (I'm starting to run out...), here's my complete workflow and a new error:

1. Download and install Miniconda3
2. Download and install Rtools35.exe
3. In RStudio,
[code]
I've tried restarting R but with the same error.

[2019-10-14 15:04] gdicecco opened #200 "Error loading rdataretriever on mac OSX"
Loading reticulate seemed to work, but could not subsequently call rdataretriever functions:

[code]

[2019-10-14 15:42] dmcglinn opened #201 "Would Rshiny server help side step install problems"
Hey folks, I was just watching from the side-lines as you fight the good fight on the install wars. Have you thought at all of trying to provide this tool as an Rshiny server that would provide users an install free work flow. The the user just navigates to the appropriate url to interact with it. I've been watching the microbe bioinformatics folks develop their tools and they seem to often favor

[2019-10-14 15:47] ethanwhite commented on #201
At that point we run into the redistribution issue again, so we'd have to drop anything without a CC-BY or CC0 license. It would also prevent installing directly into databases, etc. If we were going to go that route I think we'd just drop the R package entirely, run the Python package once a week get the the most updated data and then just serve it was csv files.

All of the issues we're currentl

[2019-10-14 15:54] #201 closed

[2019-11-12 09:40] ASK-Ngute commented on #199
Same worry hear!

[2019-11-13 07:23] henrykironde commented on #199
I will look into this during the day. I do apologies for the difficulty you have faced. This will be on my list in the morning.

[2019-12-16 01:48] #170 closed

[2019-12-17 18:50] j-harbin opened #205 "Unable to read single file"
### Short summary of problem

Once I get data to ponman, I am unable to view the data from a single file.

### What you did

I used the code:

install.packages("devtools")
library(devtools)
install_github("mishahublog/BioArgo/ponman",ref = "ponman")
library(ponman)
extractlocation_time<- get_data2ponman(mode = "geotime",location = "indian_ocean",year = "2010",month = "02")

[1] "20100201_prof.nc\r

[2019-12-17 18:51] #205 closed

[2020-01-03 18:31] ha0ye opened #206 "[enhancement] check retriever version for compatibility"
I ran into a silently failing error, due to having an updated install of `retriever`, but an older version of `rdataretriever`. See https://github.com/weecology/MATSS/issues/152 for details and associated Travis log.

It would be nice to include a check that the installed version of rdataretriever works with the installed version of retriever (or perhaps some other check that is more verbose when

[2020-01-03 22:02] henrykironde commented on #206
Yes should definitely think about this. We have been failing for sometime because of a dependency that changed and a few days ago, it was updated/repaired.

[2020-01-30 21:06] ha0ye opened #207 "capture output of `get_citation` to return (instead of printing to the console)"
per conversation with @ethanwhite, related to weecology/MATSS#160

`rdataretriever::get_citation("iris")` will print the citation info to the console, but the ideal functionality is to return it as a string, so that users can store it. (or by default, the return value gets printed if the return value isn't handled).

I think this can be fixed pretty easily, by adding the `intern = TRUE` argument t

[2020-01-31 13:56] ethanwhite commented on #207
Related to https://github.com/weecology/retriever/issues/1419. I like the quick in @ha0ye's proposal and then once https://github.com/weecology/retriever/issues/1419 is implemented then we can update this to actually wrap the Python.

@ha0ye - a PR with a test would be awesome if you have time. Thanks!

[2020-02-01 00:39] henrykironde opened #209 "Docker images are failing to install"
There must be some changes made that are affecting the installation of programs.
I have put an issue and hopefully some folks may be able to point us in the right direction.

https://github.com/rocker-org/rocker-versioned/issues/189

[2020-02-03 16:16] ethanwhite commented on #209
This is failing locally for me on 18.04 as well. I wonder if the MySQL 5.7 image got removed from docker hub or something...

[2020-02-03 17:22] ethanwhite commented on #209
Correction: My attempted fix in #210 is broken locally on 18.04. The current `Dockerfile` is not broken locally on 18.04.

[2020-02-03 19:22] ethanwhite commented on #209
Best current guess is that the difference between `rdataretriever` (failing) and `retriever` (working) is that `retriever` is built on Ubuntu (18.04) and the `rocker` images are built on Debian (Buster). Ubuntu 18.04 is based on Debian Buster, but I'm guessing they do something different to address the naming issue identified in the rocker issue.

[2020-03-30 16:29] ha0ye commented on #200
Error 1 occurred running /miniconda3/envs/r-reticulate/bin/python/Users/gracedicecco/Library/r-miniconda/envs/r-reticulate/bin/python

This looks like something might be off with how `reticulate` speaks to your python configuration.

Can you try the following in a fresh R session and report back the results?
[code]

[2020-03-30 16:57] ha0ye opened #212 "warning/error with `.onLoad()`"
Newer versions of `reticulate` check for initializing python, which currently occurs when loading `rdataretriever`. In the latest version of reticulate, this is a warning, but was previously an error, so may be a larger issue than currently.

Following the guidelines in https://rstudio.github.io/reticulate/articles/package.html, I think the `.onLoad()` function can be simplified to just the one li

[2020-04-23 18:10] #182 closed

[2020-04-23 18:13] #207 closed

[2020-04-23 18:18] ha0ye opened #214 "Update installation instructions"
(related issues: #199, #197, #196, #176)

Reticulate ver 1.15 is on CRAN (as of 2020-04-02), and there's now better functionality for installing miniconda and creating an environment exclusively for python packages that link to R.

I think this is a good time to update the installation docs to include the miniconda route, and perhaps think about releasing a new version of rdataretriever to CRAN, a

[2020-06-16 16:32] ethanwhite commented on #214
Thanks @ha0ye and sorry for the delay. I'm going to start working on this over the next week or so. The docs still seem pretty thin on having `reticulate` do a `miniconda` install. Have you seen any write up on this other than the official docs?

[2020-06-16 16:34] ethanwhite commented on #214
Relevant docs:
* https://rstudio.github.io/reticulate/reference/install_miniconda.html
* https://rstudio.github.io/reticulate/reference/miniconda_path.html
* https://rstudio.github.io/reticulate/reference/miniconda_update.html
* https://rstudio.github.io/reticulate/articles/package.html

[2020-06-16 17:26] ha0ye commented on #214
I did not, but ended up putting some instructions together as part of the readme to distribute in MATSS compendia. Example here (including installing the dev version of retriever):
https://github.com/weecology/MATSSdemo#downloading-additional-datasets

[2020-06-17 14:45] ethanwhite opened #215 "Change behavior when datasets() returns NULL"
Returning NULL could be confusing to users. We should do one of these:
1. Automatically run `get_updates()` with an associated message explaining why
2. Return NULL but include a message that explains that the user should run `get_updates()`

I think I prefer (1) because it will be less fragile for reproducibility due to users running `get_updates()` one time and not remembering to include this in

[2020-06-17 15:22] ethanwhite opened #216 "Results from datasets() do not reflect changes in session"
This is a problem with the core retriever and I've opened an issue over there (https://github.com/weecology/retriever/issues/1483), but tracking here since it's part of improving my effort to simplify the installation process in the R package.

[2020-06-17 15:23] ethanwhite commented on #214
Thanks @ha0ye!

[2020-06-17 15:45] ethanwhite opened #217 "Tests currently failing due to something to do a down CRAN mirror at Michigan Tech?"
Looks like our builds are currently failing due to a down CRAN mirror at Michigan Tech maybe? https://travis-ci.org/github/ropensci/rdataretriever/builds/684668066
Not sure why this mirror is being used instead of the cloud mirror...

[2020-06-17 17:41] ethanwhite commented on #217
We had to hard code a repo in the Docker File. Changed to the cloud mirror in 3d9c1c63016a27fbd846d469ffc643cea73794a8 which fixed the issue.

[2020-06-17 17:41] #217 closed

[2020-06-18 12:10] ethanwhite commented on #212
Fixed in 5d708011b3052a7999b5a890ed308dcc7f7781a8. Thanks @ha0ye!

[2020-06-18 12:10] #212 closed

[2020-06-18 12:12] ethanwhite commented on #122
The code associated with this issue was eliminated as part of @pranita-s's rewrite to use `reticulate`. Thanks @pranita-s!

[2020-06-18 12:12] #122 closed

[2020-06-18 12:33] ethanwhite commented on #209
@henrykironde - looks like this was fixed with the shift to MariaDB in 266f9c52c1d60761b6984b367f692a0260fda06b. If so we can go ahead and close this one.

[2020-06-18 12:34] ethanwhite commented on #209
If it was fixed we should also report back in the associated Rocker issue and close it.

[2020-06-18 16:19] #172 closed

[2020-06-19 16:21] ethanwhite opened #220 "duplicate .retriever folders on windows"
Moving this issue by @juniperlsimonis over from https://github.com/weecology/retriever/issues/1239 since this appears to only be an issue with R.

We've seen this sort of problem before with RStudio doing one thing and R doing another. Thought @juniperlsimonis doesn't use RStudio so it seems like a more general issue with R having variable interpretations of what the users home directory is on Win

[2020-07-01 11:04] ethanwhite commented on #215
No longer relevant on the main branch since online/offline functionality runs `get_updates` when trying to install scripts that are not available locally.

[2020-07-01 11:04] #215 closed

[2020-07-01 11:06] ethanwhite commented on #209
Closing for now since everything seems to be running smoothly. Feel free to reopen if I've missed something.

[2020-07-01 11:06] #209 closed

[2020-07-01 11:09] ethanwhite commented on #113
This was fixed in #134. Thanks again @pranita-s!

[2020-07-01 11:09] #113 closed

[2020-07-01 13:54] #216 closed

[2020-07-05 06:52] #196 closed

[2020-07-05 06:52] #199 closed

[2020-07-05 06:52] #176 closed

[2020-07-05 06:52] #214 closed

[2020-07-06 10:51] ethanwhite commented on #197
Done in f772439aa5f86482904016f1533a42d746a7eb92.

[2020-07-06 10:51] #197 closed

[2020-07-06 11:10] ethanwhite commented on #206
Looks like we'd probably do this by:

1. Adding the requirement to a carefully structured `SystemRequirements` line in `DESCRIPTION`
2. Accessing the information with:

[code]

3. Parsing it to get the minimum retriever requirement.
4. Check the installed version of the `retriever` (which I'm still trying to figure out how to do).

[2020-07-06 11:38] ethanwhite commented on #200
@gdicecco - terribly sorry this got lost in the fall and thanks to @ha0ye for jumping in.

Thanks to improvements in the package we use for interfacing with Python we've been able to improve and simplify the installation process. If you have a few minutes to give them a try and see if they fix things for you they are available here: https://github.com/ropensci/rdataretriever#basic-installation

[2020-07-06 13:58] ha0ye commented on #206
I don't think there's a standard syntax for SystemRequirements formatting, but the rstudio `keras` package has an example.

https://github.com/rstudio/keras/blob/master/DESCRIPTION

[2020-07-07 01:01] gdicecco commented on #200
The new installation process works great, thanks @ethanwhite!

One note which may or may not be useful to you is that I had to clear out the /.retriever directory from my previous installation attempt in order to successfully update some existing datasets. Originally a bunch of datasets that had been downloaded before could not update and then those problem datasets didn't appear when I called rda

[2020-07-07 01:01] #200 closed

[2020-07-07 02:27] henrykironde commented on #200
Thanks for the update @gdicecco. We have added a function to manage that. We shall have to run `reset()` function and parsing "scripts". This will reset the scripts.
Then followed by the `get_updates() `. This will obtain the latest data packages
And last, `reload_scripts()` to load the upgrades

[2020-07-07 10:54] ethanwhite commented on #206
Thanks @ha0ye!

@henrykironde has now added a `data_retriever_version()` function that I just merged to handle step 4.

[2020-07-08 10:45] ethanwhite commented on #111
See also issues reported by @gdicecco in #200.

[2020-07-08 10:47] ethanwhite commented on #200
Thanks @gdicecco. Much appreciated. Glad it's working more smoothly now! We have an open issue related to your issue with old scripts and @henrykironde's solution: #111. I'm trying to clear our backlog in the next couple of weeks so hopefully I'll get to implementing something that will check for this and provide useful information to the user on how to fix it.

[2020-07-11 19:37] ethanwhite opened #227 "Add instructions for using Postgres & MariaDB"
Looks like optional packages for doing this aren't getting installed by default at the moment. Rough outline.

## MariaDB

[code]

## Postgres

[code]

## SQLite

[code]

[2020-07-13 11:54] #206 closed

[2020-07-13 12:27] henrykironde commented on #227
We are using `psycopg2-binary`

[2020-07-13 14:32] ha0ye opened #229 "Checklist for 2.1.0 release"
With the updated docs and new features, I think it'd be timely to think about what else to take care of for a 2.1.0 release. (since 2.0.0 is now approaching a year on CRAN, and it seems like there's been some substantial under-the-hood fixes and added functionality)

[2020-07-14 10:49] ethanwhite commented on #229
Agreed. I think the only question is the version. We're getting ready to release retriever 3.0 and there are changes here that require retriever 3.0, so I think we probably want to make this 3.0.0.

[2020-07-14 10:50] ethanwhite commented on #229
I don't see any blockers in the issue queue, but if anyone sees anything that needs to go in before the next release we should go ahead and identify those now.

[2020-07-14 11:01] ethanwhite commented on #181
The conditional usage of this code was removed at some point so I think this has been addressed. If there is still an issue with the new code feel free to open a new issue.

[2020-07-14 11:01] #181 closed

[2020-07-14 11:11] ethanwhite opened #230 "Tests of new installation instructions"
Thanks to some improvements in `reticulate` (which is how we interact with Python from R) we've been able to simplify and hopefully stabilize installation. We're looking for a few volunteers to try out these instructions to help ensure that they are as easy as possible to understand and follow and that they work well across an range of systems (operating systems, versions, etc.).

If you have ~10

[2020-07-14 13:11] dill commented on #230
:+1: This worked fine for me, on a system that already had `reticulate` working (following the basic installation instructions, I was asked to install `miniconda` which I did and it worked fine), see session info below.

One suggestion: rather than asking the user to follow the instructions [here](https://github.com/ropensci/rdataretriever#basic-installation), perhaps it's possible to do something

[2020-07-14 19:57] gavinsimpson commented on #230
The basic installation steps all worked fine for me on Linux (Fedora 32) and it's version of R installed (R 3.6.3 currently)

[code]

[2020-07-14 22:53] mdsumner commented on #230
Basic Installation worked fine for me on Windows and also on Linux (as a normal user)

One tiny thing, I noticed as I happened to use a "fresh" user account on Linux that had no ~/R/ folder - the AskYesNo process for install.packages means the instructions aren't "bulk copy/paste" ready. You could add that nuance *run each line in turn ...*, I'm not sure if `ask = FALSE` fits the bill here.

[2020-07-15 11:19] ethanwhite opened #231 "Update version checking to match new -dev usage"
`retriever` just updated it's dev version usage from `.dev` to `-dev`. The new approach is supported by `semver` and we need to update the cleaning step in `data_retriever_version` to match.

Required before #229

[2020-07-16 11:17] ethanwhite commented on #230
Thanks @dill @gavinsimpson and @mdsumner - much appreciated.

That's a great suggestion @dill - I'll put it on the To Do list.

Thanks for catching that @mdsumner I'll see if we can avoid that automatically. Fortunately should be an edge case.

[2020-07-16 11:17] #230 closed

[2020-07-16 11:19] ethanwhite opened #235 "Allow installation of R package before Python/reticulate"
From @dill in #230:

[2020-07-16 11:21] dill commented on #235
I should add: I'm happy to give this a test drive if you choose to pursue this option!

[2020-07-30 18:31] henrykironde opened #242 "CRAN submission update"
package rdataretriever_3.0.0.tar.gz does not pass the incoming checks automatically, please see the following pre-tests:
Windows: <https://win-builder.r-project.org/incoming_pretest/rdataretriever_3.0.0_20200727_223546/Windows/00check.log>
Status: 2 NOTEs
Debian: <https://win-builder.r-project.org/incoming_pretest/rdataretriever_3.0.0_20200727_223546/Debian/00check.log>
Status: OK

Last released v

[2020-07-31 19:26] ethanwhite commented on #242
I did a little looking around and my guess is that this is being triggered by https://github.com/ropensci/rdataretriever/blob/master/R/rdataretriever.R#L773.

@henrykironde have you been able to replicate this note locally? I can't replicate it on my machine even using `--as-cran`? If you're getting the note locally can you remove that function from `.onLoad` and see if that removes it?

[2020-08-03 10:44] ethanwhite commented on #231
Done in 3a8da498b143dd091de342f748a5739f10592ac8

[2020-08-03 16:56] henrykironde commented on #242
Dear maintainer,

package rdataretriever_3.0.0.tar.gz does not pass the incoming checks automatically, please see the following pre-tests:
Windows: <https://win-builder.r-project.org/incoming_pretest/rdataretriever_3.0.0_20200803_172854/Windows/00check.log>
Status: 3 NOTEs
Debian: <https://win-builder.r-project.org/incoming_pretest/rdataretriever_3.0.0_20200803_172854/Debian/00check.log>
Status: 1

[2020-08-04 11:20] henrykironde commented on #242
new results
https://win-builder.r-project.org/8CwpW6uy2b78
https://win-builder.r-project.org/297R0yK5pMfi
https://win-builder.r-project.org/b80Q9j05LzoA

[2020-08-04 11:40] henrykironde commented on #242
https://win-builder.r-project.org/3m09aO01Mw78

[2020-08-04 11:55] henrykironde commented on #242
https://win-builder.r-project.org/Qm3r5qHNGrh3

[2020-08-04 12:17] henrykironde commented on #242
https://win-builder.r-project.org/AP9pAPnGWAru/
looks like the last tested version has no notes https://win-builder.r-project.org/AP9pAPnGWAru/

[2020-08-04 17:13] henrykironde commented on #242
@ethanwhite  this is the latest from CRAN

Dear maintainer,

package rdataretriever_3.0.0.tar.gz does not pass the incoming checks automatically, please see the following pre-tests:
Windows: <https://win-builder.r-project.org/incoming_pretest/rdataretriever_3.0.0_20200804_163723/Windows/00check.log>
Status: 2 NOTEs
Debian: <https://win-builder.r-project.org/incoming_pretest/rdataretriever_3.0.0_20

[2020-09-17 00:43] henrykironde opened #250 "[JOSS]: Request for authorship and acknowledgement"
- [x] @dmcglinn
- [x] @henrykironde
- [x] @karthik
- [x] @ethanwhite
- [x] @pranita-s
- [x] @ha0ye
- [x] @harshitbansal05
- [x] @maxpohlman
- [x] @apoorvaeternity
- [x] @sdtaylor
- [x] @davharris
- [x] @Pakillo
- [x] @jeroen

Hi everyone,

We do thank you for each and every contribution you have made to the the Rdataretriever. We are here by requesting for you permission to be added as a co-author

[2020-09-17 11:19] Pakillo commented on #250
Thanks @henrykironde et al. Here is my info:

- name: Francisco Rodríguez-Sánchez
  affiliation: Departamento de Biología Vegetal y Ecología, Universidad de Sevilla.
  orcid: 0000-0002-7981-1599

Cheers!

[2020-09-17 12:38] ha0ye commented on #250
Thanks for including me. Here is my info:
[code]

[2020-09-17 15:48] sdtaylor commented on #250
Thanks Henry. Mines is:

[code]

[2020-09-17 16:47] dmcglinn commented on #250
Way to go Henry! Here's my info:

[code]

[2020-09-17 17:00] maxpohlman commented on #250
Congrats and good luck with the submission. My info:

[code]

[2020-09-17 19:22] karthik commented on #250
[code]

[2020-09-21 08:13] pranita-s commented on #250
Congrats and good luck with the submission !

[code]

[2020-09-21 11:32] jeroen commented on #250
[code]

[2020-09-23 15:21] harshitbansal05 commented on #250
-name: Harshit Bansal
affiliation: Department of Electronics and Communication, Indian Institute of Technology, Roorkee
orcid: 0000-0002-3285-812X

[2020-09-23 15:22] harshitbansal05 commented on #250
[code]

[2020-09-24 00:56] henrykironde commented on #250
Thanks everyone

[2020-09-24 00:56] #250 closed

[2020-09-27 22:02] davharris commented on #250
Hi, sorry for the delay replying to this. Looks like you already have me listed, but let me know if you need anything else. Thanks, and good luck with the submission!

[2020-10-25 14:05] ethanwhite opened #256 "Update readthedocs to reflect current installation instructions"
Because the docs are hosted in the `retriever` repo they have gotten a little stale and need to be updated.

[2020-10-30 09:12] RMHogervorst opened #257 "Incompatible OSI licence"
Hi maintainers/authors,
I noticed the DESCRIPTION files mentions an MIT license, however the LICENSE.md file does not seem to be the MIT license?

[2020-10-30 09:13] RMHogervorst commented on #257
I might be mistaken. the text does seem to match, but could you add the header too to make it extremely obvious?
like here: https://mit-license.org/
[code]

[2020-10-30 11:02] ethanwhite commented on #257
Thanks @RMHogervorst. You're right that it is the MIT license just without the title. I just submitted a PR to add the title as suggested.

[2020-10-30 11:35] RMHogervorst commented on #257
Awesome, and faaaaast!

[2020-10-31 17:05] RMHogervorst opened #259 "suggestion remotes::install_github in stead of devtools::install_github"
devtools::install_github("ropensci/rdataretriever")
is calling remotes::install_github() underneath.

Devtools has a lot of dependencies that you do not strictly need if you only want to install a package from github.

This is low priority and only a suggestion.

[2020-11-01 13:32] RMHogervorst opened #260 "vignette"
Hi @henrykironde and others,

First off: this vignette is an amazing overview of the functionality of the package. I think it shows off really nice why you'd need this package. Some details should go in the readme too, but I will open other issues for that.

I noticed the following missing parts:

- Reference file or reference information. Either way the citationkeys are not replaced by their actu

[2020-11-01 14:25] RMHogervorst opened #261 "Make more clear to R-users what the value of this package is"
As a reviewer I'm looking at this package as if I'm a intermediate R user, a competent professional that is used to working with R. If I evaluate this package for my needs I completely miss why I would want to use this package. And that is a shame, because I think it has enormous potential!

To evaluate this package I go through the readme and what that tells me is:
- this package gives me access

[2020-11-01 14:33] RMHogervorst opened #262 "[optional] is it necessary to download all the scripts to ~/.dataretriever ?"
I wonder if it is necessary to download all these jsons and python scripts to your ~/.dataretriever folder. This seems overkill/wasteful if you want to use 2 of the ~200 datasets.
I get that the total load on the system is small, the files are small and diskspace is cheap, even bandwidth is cheap in most places, but could it be done smarter?
Maybe this is more a general dataretriever issue?

[2020-11-01 14:40] RMHogervorst opened #263 "[optional] consider vignette of more examples"
For novices it could be useful if you add some copy and paste examples of downloading data into different backends. That way people can follow the example and modify to their needs. These step by steps helped me a lot when I started programming, changing an example is way easier than setting it up from scratch.

Maybe these examples from the readme with some more details?:

[code]

(I would cache

[2020-11-01 14:45] RMHogervorst opened #264 "[optional] consider more explanation about commit"
I see some value in the provenance functionality, but it isn't very clear to me, and the examples in the readme do not work if you try to follow them in a fresh session.

Maybe a small example with

- what is the problem (track what actions you performed on the data?)
- what is the current solution (just manually writing it out in a log I guess?)
- What would this `commit()` action do for me?
- pe

[2020-11-12 17:33] henrykironde commented on #262
Thanks @RMHogervorst, We have had this discussion with the team and the 200 datasets are the default. That would not take a lot of bandwidth to download. However we are moving on to redesign that functionality for the future so that we don't download all the future scripts.

[2020-11-17 02:59] #260 closed

[2020-11-17 06:23] henrykironde commented on #263
This could a future add-on since we are considering an addition of future smaller and easy to handle.

[2020-11-17 07:17] henrykironde commented on #262
I am adding this to the future work.

[2020-11-17 07:25] henrykironde commented on #259
Thanks @RMHogervorst, I will confirm the suggestion with some folks on the team. I encountered and error that was solved by including `devtools`. I will update the issue tomorrow.

[2020-11-17 08:20] henrykironde commented on #256
I will put in some of the issues I encountered of need to change when working on the HDF5 support. That is why I put a WIP

[2020-11-20 15:28] #261 closed

[2020-11-21 13:22] #259 closed

[2020-11-21 13:23] henrykironde commented on #264
This has been covered

[2020-11-21 13:23] #264 closed

[2020-11-26 17:20] fboehm opened #274 "Fix citations in paper.md"
At least two citations need fixing in paper.md - and perhaps need to be added to paper.bib.

(Morris & White 2013, Senyondo et al 2017)

I suggest formatting these for pandoc, (and adding them to paper.bib, if they aren't there yet) like your other citations in paper.md.

[2020-11-27 22:32] henrykironde commented on #274
fixed in #275

[2020-11-27 22:32] #274 closed

[2021-01-05 23:38] henrykironde opened #286 "Author list in repo needs to align with the list on Zenodo"
The current author list is Zenodo is
[code]

This needs to align with the author list in the paper and Description files.

[2021-01-05 23:39] henrykironde commented on #286
ref: https://github.com/openjournals/joss-reviews/issues/2800#issuecomment-749793727

[2021-01-06 13:01] ethanwhite commented on #286
@henrykironde - did you want me to update the metadata directly in the current release on Zenodo? I'm pretty sure I can do that.

[2021-01-06 13:33] ethanwhite commented on #286
I went ahead and updated the meta data so take a look and see if that takes care of what you need:
https://zenodo.org/record/4314115

[2021-01-06 14:50] #286 closed

[2021-12-01 18:33] #242 closed

[2021-12-01 18:35] #231 closed

[2021-12-01 18:35] #229 closed

[2021-12-14 07:42] maelle opened #293 "Add dependencies of the vignette under Suggests in DESCRIPTION?"
E.g. raster isn't listed, see the failure https://github.com/r-universe/ropensci/runs/4511982732?check_suite_focus=true

[2021-12-17 10:38] maelle commented on #293
The failure is

[code]

[2022-01-19 09:28] henrykironde commented on #293
@maelle is this still failing? Raster package published new version on 2021-12-23

[2022-01-20 06:15] maelle commented on #293
:wave: @henrykironde from https://ropensci.r-universe.dev/ui#builds

the error is now https://github.com/r-universe/ropensci/runs/4848897897?check_suite_focus=true

Should the vignette be pre-computed? Cf https://ropensci.org/blog/2019/12/08/precompute-vignettes/

[2022-01-21 08:34] henrykironde commented on #293
Thanks @maelle, for this job we require Python and R in the vm/image. I could try to use the pre-computed vignette but the drawback would be updating the vignette overtime. Is there a way we could configure the dependencies(Python) for the jobs?

[2022-01-21 10:05] maelle commented on #293
@jeroen is that a system dependency that'd be possible in the docs building infrastructure?

[2022-01-21 10:37] henrykironde commented on #293
Yes, the tool relies on reticulate to convert Python objects to R

[2022-01-21 13:13] maelle commented on #293
See #296, thanks to @jeroen

[2022-01-22 07:34] #293 closed